.boldHoverNoWidthChange {
    font-weight: 400!important;
    -webkit-text-stroke-width: .55px;
    -webkit-text-stroke-color: currentColor
}

.breadcrumb {
    background: none!important;
    padding: 0!important;
    margin: 0!important
}

.cmp-breadcrumbs {
    position: absolute;
    top: 48px;
    left: 0;
    max-width: 50%;
    color: #000;
    z-index: 1
}

.cmp-breadcrumbs__container {
    padding: 8px 56px
}

.cmp-breadcrumbs a {
    color: inherit;
    transition: all .3s ease;
    font-size: .75em;
    line-height: 1
}

.cmp-breadcrumbs a:hover {
    color: #007cb0
}

.cmp-breadcrumbs--white-text {
    color: #fff
}

.cmp-breadcrumbs__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center
}

.cmp-breadcrumbs__list-item {
    margin: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    font-weight: var(--font-weight-bold)
}

.cmp-breadcrumbs__list-item:after {
    content: ">";
    padding: 0 8px
}

.cmp-breadcrumbs__list-item:last-child:after {
    display: none
}

@media screen and (max-width: 1023px) {
    .cmp-breadcrumbs {
        display:none
    }
}
