.cmp-footer-v2 .cmp-content-width {
    padding: 0 56px
}

.cmp-footer-v2__top {
    padding: 96px 0
}

.cmp-footer-v2__section-title .cmp-title {
    font-size: 2.5em;
    color: #f5f6f6;
    font-weight: var(--font-weight-regular)
}

.cmp-footer-v2__social-section {
    display: flex!important;
    justify-content: flex-end;
    flex: 1 0 0
}

@media screen and (min-width: 1024px) {
    .cmp-footer-v2__social-section {
        align-self:flex-end
    }
}

.cmp-footer-v2__social-section .cmp-linklist__item {
    width: auto;
    position: relative;
    margin: 0
}

.cmp-footer-v2__social-section .cmp-linklist__item-link,.cmp-footer-v2__social-section .cmp-linklist__item-link i {
    color: inherit;
    transition: .3s ease
}

.cmp-footer-v2__social-section .cmp-linklist__item-link:hover,.cmp-footer-v2__social-section .cmp-linklist__item-link i:hover {
    color: #fff
}

.cmp-footer-v2__social-section .cmp-linklist__item-link {
    font-size: inherit
}

.cmp-footer-v2__social-section .cmp-linklist__with-icons [class^=icon-] {
    position: static;
    font-size: 1.5em;
    padding: 0
}

.cmp-footer-v2__social-section .cmp-linklist__with-icons .cmp-linklist__item-link {
    padding: 0
}

.cmp-footer-v2__social-section .cmp-linklist__container {
    flex-direction: column;
    padding: 0
}

.cmp-footer-v2__social-section .cmp-linklist__list {
    gap: 16px;
    flex-direction: row;
    display: flex
}

.cmp-footer-v2__social-section .cmp-linklist__title {
    margin: 0 0 8px;
    align-self: flex-start;
    font-size: 1em
}

.cmp-footer-v2__social-section .cmp-linklist__title .title-v2 {
    font-size: .875em
}

.cmp-footer-v2__links-section {
    padding: 0;
    display: flex;
    column-gap: 96px;
    flex: 1 0 0;
    white-space: nowrap
}

.cmp-footer-v2__links-section a {
    transition: .3s ease;
    color: inherit!important
}

.cmp-footer-v2__links-and-social-wrapper {
    column-gap: 16px;
    justify-content: space-between;
    display: flex!important
}

.cmp-footer-v2__links-and-social-wrapper:before,.cmp-footer-v2__links-and-social-wrapper:after {
    display: none
}

.cmp-footer-v2__links-and-social-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.cmp-footer-v2 .cmp-footer-v2__primary-footer-links ul {
    font-size: 1.5em;
    padding: 0;
    list-style: none
}

.cmp-footer-v2 .cmp-footer-v2__primary-footer-links ul li {
    margin: 0 0 16px
}

.cmp-footer-v2 .cmp-footer-v2__primary-footer-links ul li a {
    display: inline;
    color: inherit!important;
    transition: .3s ease-in;
    position: relative;
    text-decoration: none!important;
    z-index: 1
}

.cmp-footer-v2 .cmp-footer-v2__primary-footer-links ul li a:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    transition: width .5s ease,opacity .5s ease;
    border-bottom: 2px solid #43B02A;
    display: flex;
    opacity: 0;
    z-index: -1
}

.cmp-footer-v2 .cmp-footer-v2__primary-footer-links ul li a:active,.cmp-footer-v2 .cmp-footer-v2__primary-footer-links ul li a:hover:before {
    width: 100%;
    opacity: 1
}

.cmp-footer-v2 .cmp-footer-v2__primary-footer-links ul li a:hover {
    color: #fff!important
}

.cmp-footer-v2 .cmp-footer-v2__primary-footer-links ul li:last-child {
    margin-bottom: 0
}

.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links {
    display: flex;
    gap: 24px 64px;
    flex: 1 0 0
}

.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links ul {
    padding: 0;
    list-style: none
}

.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links ul li {
    margin: 0 0 16px
}

.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links ul li a {
    display: inline;
    font-size: .875em;
    color: inherit!important;
    position: relative;
    text-decoration: none!important;
    z-index: 1
}

.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links ul li a:before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    transition: width .5s ease,opacity .5s ease;
    border-bottom: 1px solid #43B02A;
    display: flex;
    opacity: 0;
    z-index: -1
}

.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links ul li a:active,.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links ul li a:hover:before {
    width: 100%;
    opacity: 1
}

.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links ul li a:hover {
    color: #fff!important
}

.cmp-footer-v2 .cmp-footer-v2__secondary-footer-links ul li:last-child {
    margin-bottom: 0
}

.cmp-footer-v2__bottom__sponsorship {
    display: flex;
    justify-content: flex-end;
    font-size: 0
}

.cmp-footer-v2__bottom__sponsorship img {
    max-width: 100%;
    height: auto
}

.cmp-footer-v2__bottom__content {
    font-size: .75em
}

@media screen and (min-width: 1024px) {
    .cmp-footer-v2__bottom__content {
        display:flex;
        align-items: flex-end
    }
}

.cmp-footer-v2__bottom__links {
    margin: 2px 0 16px
}

.cmp-footer-v2__bottom__links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px
}

.cmp-footer-v2__bottom__links ul li {
    margin: 0
}

.cmp-footer-v2__bottom__links ul li a {
    color: #000;
    position: relative;
    text-decoration: none!important;
    z-index: 1
}

.cmp-footer-v2__bottom__links ul li a:before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    transition: width .3s ease,opacity .3s ease;
    border-bottom: 1px solid currentColor;
    display: flex;
    opacity: 0;
    z-index: -1
}

.cmp-footer-v2__bottom__links ul li a:active,.cmp-footer-v2__bottom__links ul li a:hover:before {
    width: 100%;
    opacity: 1
}

.cmp-footer-v2__bottom__links ul li a:visited {
    color: #000
}

.cmp-footer-v2__bottom__links ul li a:hover {
    color: #007cb0
}

.cmp-footer-v2__copyright p:last-child {
    margin-bottom: 0
}

.cmp-footer-v2__copyright a {
    color: #007cb0!important;
    transition: .3s ease
}

.cmp-footer-v2__copyright a:hover {
    color: #007cb0!important
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__primary-footer-links {
    margin-bottom: 0
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__primary-footer-links {
        width:100%
    }
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-footer-links {
    margin-bottom: 0
}

.cmp-footer-v2--multi-linklist a .audible {
    left: -999em;
    position: absolute
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__links-section {
    column-gap: 80px!important;
    flex-wrap: wrap;
    row-gap: 40px
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__links-section {
        flex-wrap:wrap;
        column-gap: 40px!important
    }
}

@media screen and (max-width: 767px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__links-section {
        flex-direction:column;
        flex-basis: unset
    }
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__links-and-social-wrapper {
    display: flex!important;
    flex-direction: column;
    row-gap: 56px;
    column-gap: 0
}

@media screen and (min-width: 1201px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__links-and-social-wrapper {
        row-gap:40px
    }
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__links-and-social-wrapper:after,.cmp-footer-v2--multi-linklist .cmp-footer-v2__links-and-social-wrapper:before {
    display: none
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__top {
    padding: 80px 0 64px
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links ul {
    gap: 0 40px;
    list-style: none;
    opacity: 0;
    will-change: opacity;
    column-count: 1;
    white-space: normal
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links ul li {
        min-width:120px;
        max-width: 120px
    }
}

@media screen and (min-width: 1201px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links ul li {
        min-width:144px;
        max-width: 144px
    }
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links h4 {
    margin-bottom: 16px
}

@media screen and (min-width: 768px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--10 {
        column-count:10
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--9 {
        column-count: 9
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--8 {
        column-count: 8
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--7 {
        column-count: 7
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--6 {
        column-count: 6
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--5 {
        column-count: 5
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--4 {
        column-count: 4
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--3 {
        column-count: 3
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--2 {
        column-count: 2
    }

    .cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-links .column-count--1 {
        column-count: 1
    }
}

.cmp-footer-v2--multi-linklist .cmp-footer-v2__secondary-footer-links {
    gap: 40px;
    flex: 0 0 0
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__social-section {
        align-self:flex-start
    }
}

.boldHoverNoWidthChange {
    font-weight: 400!important;
    -webkit-text-stroke-width: .55px;
    -webkit-text-stroke-color: currentColor
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-footer-v2__links-and-social-wrapper {
        flex-direction:column
    }

    .cmp-footer-v2__links-section {
        flex-wrap: wrap
    }

    .cmp-footer-v2__social-section {
        justify-content: flex-start
    }

    .cmp-footer-v2__social-wrapper .cmp-text__item {
        text-align: left
    }

    .cmp-footer-v2__bottom__content>.aem-GridColumn {
        width: 100%!important
    }

    .cmp-footer-v2__bottom__sponsorship {
        justify-content: flex-start;
        margin: 32px 0 0;
        flex-direction: column-reverse;
        align-items: flex-start
    }

    .cmp-footer-v2__bottom__links {
        margin: 0 0 16px
    }

    .cmp-footer-v2__primary-footer-links,.cmp-footer-v2__secondary-footer-links {
        margin: 0 0 40px
    }
}
