.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0
}

.modal.fade {
    transition: opacity .15s linear
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateY(-50px)
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade {
        transition: none
    }
}

.modal.fade:not(.show,.in) {
    opacity: 0
}

.modal.show {
    opacity: 1
}

.modal.show .modal-dialog {
    transform: none
}

.modal.modal-static .modal-dialog {
    transform: scale(1.02)
}

.modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none
}

@media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal-dialog-scrollable {
    height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
    max-height: 100%;
    overflow: hidden
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem)
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2050;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.fade.show,.modal-backdrop.fade.in,.modal-backdrop.show,.modal-backdrop.in {
    opacity: .7
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between
}

.modal-header .btn-close {
    padding: .5rem;
    margin: -.5rem -.5rem -.5rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width:500px;
        margin: 1.75rem auto
    }

    .modal-dialog-scrollable {
        height: calc(100% - 3.5rem)
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg,.modal-xl {
        max-width:800px
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width:1140px
    }
}

.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0
}

.modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0
}

.modal-fullscreen .modal-header {
    border-radius: 0
}

.modal-fullscreen .modal-body {
    overflow-y: auto
}

.modal-fullscreen .modal-footer {
    border-radius: 0
}

.boldHoverNoWidthChange {
    font-weight: 400!important;
    -webkit-text-stroke-width: .55px;
    -webkit-text-stroke-color: currentColor
}

.cmp-modal .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateY(-20px);
    border-radius: 8px;
    max-width: 770px;
    background: transparent
}

.cmp-modal__body {
    overflow: auto;
    padding: 0 12px 0 0;
    margin-right: -12px;
    position: relative
}

.cmp-modal__body::-webkit-scrollbar {
    width: 5px
}

.cmp-modal__body::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #e7e9e8
}

.cmp-modal__body::-webkit-scrollbar-thumb {
    background: #97999b;
    border-radius: 10px
}

.cmp-modal__body .cmp-co-branding {
    margin-bottom: 24px;
    margin-top: 32px
}

.cmp-modal__body .cmp-co-branding .cmp-co-branding-img {
    margin: 0
}

.cmp-modal__body .cmp-co-branding.two-col-co-branding-modal {
    margin-top: 0
}

@media screen and (max-width: 767px) {
    .cmp-modal__body {
        margin-right:unset
    }
}

.cmp-modal__body .profile-modal-wrapper .modal-form {
    display: grid;
    overflow: hidden
}

.cmp-modal__body.profile-modal {
    overflow-y: hidden
}

@media screen and (max-width: 767px) {
    .cmp-modal__body.profile-modal {
        padding:0
    }
}

.cmp-modal__body.profile-modal .profile-modal-wrapper .modal-form .formv2 {
    max-height: calc(60vh - 138px);
    overflow-y: auto;
    padding-right: 16px
}

.cmp-modal__body.profile-modal .profile-modal-wrapper .modal-form .formv2 .form-required-text {
    padding: 0
}

.cmp-modal__content.modal-content {
    max-height: 60vh;
    box-shadow: 0 3px 16px #00000029!important;
    border: 1px solid #ededed;
    border-radius: 8px!important;
    padding: 32px!important;
    max-width: 650px;
    background-color: #fff!important;
    color: #000!important
}

.cmp-modal__content.modal-content .modal-header {
    padding-bottom: 24px!important;
    border-bottom: none
}

.cmp-modal-exp-gateway .cmp-modal__content.modal-content {
    min-width: 600px
}

.cmp-modal-exp-gateway .cmp-modal__body {
    overflow: visible
}

.cmp-modal-exp-gateway .modal-dialog {
    margin: 10px auto
}

.cmp-modal-reg-exp-gateway .cmp-modal__container {
    display: flex;
    justify-content: center
}

.cmp-modal-reg-exp-gateway .cmp-modal__container .cmp-modal__content.modal-content {
    max-width: 480px;
    max-height: unset
}

@media screen and (min-width: 768px) {
    .cmp-modal-reg-exp-gateway .cmp-modal__container .cmp-modal__content.modal-content {
        padding:40px 0!important
    }
}

.cmp-modal-reg-exp-gateway .cmp-modal__body {
    overflow: visible;
    margin-right: unset
}

.cmp-modal.fade {
    transition: opacity .15s linear;
    pointer-events: none
}

.cmp-modal.fade.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
    transition: transform .4s ease-out,opacity .4s ease-out
}

.cmp-modal.fade.show .modal-backdrop {
    opacity: 1;
    transition: opacity .3s linear
}

.cmp-modal.fade .modal-dialog {
    transform: scale(.8);
    opacity: 0;
    transition: transform .4s ease-out,opacity .4s ease-out
}

.cmp-modal.fade .modal-backdrop {
    opacity: 0;
    transition: opacity .3s linear
}

.cmp-modal.fade:not(.show) .modal-dialog {
    transform: scale(.8);
    opacity: 0;
    transition: transform .4s ease-out,opacity .4s ease-out
}

.cmp-modal.fade:not(.show) .modal-backdrop {
    opacity: 0;
    transition: opacity .3s linear
}

.cmp-modal__title {
    font-size: 24px;
    margin: 0;
    font-weight: var(--font-weight-regular);
    line-height: 28px;
    display: flex
}

.cmp-modal__close {
    color: #63666a!important;
    font-size: 28px;
    top: 0;
    right: 6px;
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    display: flex;
    margin-left: auto
}

.cmp-modal__close span {
    display: inline-block;
    outline: 0 none
}

.cmp-modal__close:hover {
    background-color: transparent!important
}

.cmp-modal__footer {
    display: flex;
    align-items: flex-start
}

.cmp-modal__footer .cmp-btn {
    width: auto;
    margin-right: 16px;
    line-height: 22px
}

.cmp-modal__footer .cmp-btn.cmp-btn__rounded--secondary .button-container {
    background-color: transparent!important
}

.cmp-modal__footer .cmp-btn.cmp-btn__rounded--secondary .button-container a {
    color: #007cb0!important
}

.cmp-modal .cmp-title__link {
    color: inherit!important
}

.cmp-modal .cmp-title__link span {
    outline: 0 none
}

.cmp-modal-dark .modal-content {
    border: 1px solid #53565a;
    background-color: #121212;
    color: #fff
}

.cmp-modal-dark .cmp-modal__close span {
    color: #fff
}

.cmp-modal-dark .cmp-tooltip .cmp-tooltip-block {
    background-color: #fff;
    color: #000
}

.cmp-modal *:focus {
    outline: 1px dotted #000;
    outline-offset: 2px
}

.cmp-modal__two-column .modal-dialog {
    width: auto!important;
    max-width: 1323px
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-modal__two-column .modal-dialog {
        max-width:none
    }
}

.cmp-modal__two-column .cmp-modal__content.modal-content {
    padding: 32px 16px 32px 32px!important;
    max-width: none!important;
    max-height: 80vh!important
}

.cmp-modal__two-column .cmp-modal__content.modal-content .modal-header {
    padding-bottom: 24px!important;
    padding-right: 16px
}

.cmp-modal__two-column .cmp-modal__content.modal-content .modal-body {
    padding: 0 16px 0 0;
    margin-right: unset
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-modal__two-column .cmp-modal__content.modal-content .cmp-modal__body>div {
        display:flex;
        flex-flow: column
    }
}

.cmp-modal__two-column .cmp-modal__close {
    position: relative
}

.cmp-modal__two-column .cmp-modal__body .cmp-modal__close {
    position: absolute
}

.cmp-modal .button-container {
    box-sizing: border-box
}

.cmp-modal__basic .modal-header,.cmp-modal__basic .modal-body {
    padding: 0
}

@media screen and (max-width: 767px) {
    .cmp-modal__basic .modal-header {
        padding-right:16px
    }
}

@media screen and (max-width: 767px) {
    .cmp-modal__basic .cmp-modal__title {
        margin-bottom:0
    }
}

@media screen and (max-width: 767px) {
    .cmp-modal__basic .cmp-modal__content.modal-content {
        padding:32px 16px 32px 32px!important
    }

    .cmp-modal__basic .cmp-modal__content.modal-content .modal-body {
        padding: 0 16px 0 0
    }
}

.modal-header {
    position: relative
}

@media screen and (max-width: 767px) {
    .cmp-footer-v2--multi-linklist .cmp-footer-v2__links-section {
        flex-basis:unset
    }
}

.cmp-modal-vertical-layout .cmp-modal__container {
    max-width: 592px;
    margin: 10px auto
}

@media screen and (max-width: 767px) {
    .cmp-modal-vertical-layout .cmp-modal__container {
        margin:10px 16px
    }
}

.cmp-modal-vertical-layout .cmp-modal__container img:not(.cmp-co-branding-img) {
    margin-bottom: 24px;
    aspect-ratio: 16/9;
    width: 100%
}

.cmp-modal-vertical-layout .cmp-modal__container .cmp-people-profile__header__image.img-circular {
    margin-bottom: 24px
}

.cmp-modal-vertical-layout .cmp-modal__container .cmp-people-profile__header__image.img-circular img {
    aspect-ratio: auto
}

button {
    border-width: thin
}

.button-circle button,.button-circle .button-container {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    background: transparent;
    width: 50px;
    height: 50px;
    font-size: 1.75em;
    line-height: 50px
}

.cmp-btn {
    background-color: transparent!important;
    width: 100%;
    display: flex
}

.cmp-btn button,.cmp-btn .button-container {
    border-radius: .18rem;
    padding: .52rem 1.3rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid transparent
}

.cmp-btn button a,.cmp-btn .button-container a {
    display: block;
    color: #000;
    text-decoration: none;
    white-space: normal
}

.cmp-btn button a:hover,.cmp-btn .button-container a:hover {
    opacity: .8
}

.cmp-btn__lg button,.cmp-btn__lg .button-container {
    font-size: 1.125em;
    padding: 1.1rem 1rem
}

.cmp-btn__md button,.cmp-btn__md .button-container {
    font-size: 1.125em
}

.cmp-btn__sm button,.cmp-btn__sm .button-container {
    font-size: .875em;
    padding: .29rem 3.3rem
}

.cmp-btn__rounded button,.cmp-btn__rounded .button-container {
    width: auto;
    border-radius: 6.25em;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__rounded.cmp-btn__rounded__sm button,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__sm button a,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container a {
    padding: .5em 2.5em;
    text-wrap: wrap
}

@media screen and (max-width: 375px) {
    .cmp-btn__rounded.cmp-btn__rounded__sm button a,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container a {
        padding:.5em 1.5em
    }
}

.cmp-btn__rounded.cmp-btn__rounded__md button,.cmp-btn__rounded.cmp-btn__rounded__md .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__md button a,.cmp-btn__rounded.cmp-btn__rounded__md .button-container a {
    padding: .75em 2.5em
}

.cmp-btn__rounded.cmp-btn__rounded__lg button,.cmp-btn__rounded.cmp-btn__rounded__lg .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__lg button a,.cmp-btn__rounded.cmp-btn__rounded__lg .button-container a {
    padding: 1em 2.5em
}

.cmp-btn__rounded.cmp-btn__rounded__bottom-right-0 .button-container {
    border-bottom-right-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__bottom-left-0 .button-container {
    border-bottom-left-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__top-right-0 .button-container {
    border-top-right-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__top-left-0 .button-container {
    border-top-left-radius: 0
}

.cmp-btn__full-width .button-container {
    width: 100%
}

@media screen and (min-width: 1024px) {
    .cmp-btn__full-width--desktop .button-container {
        width:100%
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-btn__full-width--tablet .button-container {
        width:100%
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn__full-width--mobile .cmp-button__modal {
        width:inherit
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn__full-width--mobile .button-container {
        width:100%
    }
}

.cmp-btn:focus button,.cmp-btn:focus .button-container {
    outline-width: .5px;
    outline-style: dashed;
    outline-color: #bbbcbc
}

@media screen and (max-width: 767px) {
    .cmp-btn--fixed--bottom--mobile {
        display:none!important;
        position: fixed;
        bottom: 5px;
        left: 50%;
        transform: translate(calc(-50% - 40px),-50%);
        z-index: 2100;
        max-width: 235px;
        margin: 0!important;
        width: 100%!important
    }

    .cmp-btn--fixed--bottom--mobile .button-container {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn--clone--full-width {
        transform:translate(-50%,-50%);
        max-width: 100%;
        padding: 0 24px;
        box-sizing: border-box
    }

    .cmp-btn--clone--full-width .button-container {
        box-shadow: 0 3px 6px #00000029
    }
}

.cmp-btn--clone--full-width>div {
    width: 100%
}

@media screen and (max-width: 767px) {
    .cmp-btn--clone--short-width {
        max-width:235px
    }
}

.cmp-btn--clone--short-width>div {
    width: 100%
}

.cmp-btn__secondary .button {
    background-color: transparent;
    border: 1px solid
}

.cmp-btn__link {
    width: auto
}

.cmp-btn__link .button-container {
    width: auto;
    padding: 0;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__link .button-container a {
    color: #007cb0;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none!important;
    z-index: 1
}

.cmp-btn__link .button-container a:before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    transition: width .3s ease,opacity .3s ease;
    border-bottom: 1px solid currentColor;
    display: flex;
    opacity: 0;
    z-index: -1
}

.cmp-btn__link .button-container a:active,.cmp-btn__link .button-container a:hover:before {
    width: 100%;
    opacity: 1
}

.cmp-btn__link .button-container a:hover {
    opacity: 1
}

.cmp-btn__link .button-container a:after {
    padding-top: 1px
}

.cmp-btn__icon a:not([target="_blank"]):after {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em
}

.cmp-btn__icon--left a:not([target="_blank"]):before {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em;
    padding-right: 4px
}

.cmp-btn__icon--arrow-right a:not([target="_blank"]):after {
    content: "\e899"
}

.cmp-btn__icon--download a:not([target="_blank"]):after,.cmp-btn__icon--download--left a:not([target="_blank"]):before {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f019"
}

.cmp-btn__icon--left a:not([target="_blank"]) {
    flex-direction: row-reverse
}

.cmp-btn__icon--filled a:not([target="_blank"]):after {
    background: #1076a8;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1
}

.cmp-btn--width-auto {
    width: auto
}

@media screen and (max-width: 767px) {
    .cmp-btn--width-100--mobile,.cmp-btn--width-100--mobile .button-container {
        width:100%
    }
}

.button.cmp-btn__rounded .button-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.cmp-btn__download-popup {
    visibility: hidden;
    position: absolute;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 16px #00000029;
    border-radius: 8px;
    min-height: 0;
    max-height: 272px;
    opacity: 1;
    width: 300px;
    padding: 24px;
    top: 58px;
    left: 0;
    box-sizing: border-box;
    z-index: 2000;
    color: #707070;
    overflow: hidden;
    transform: translate(-50%) scaleY(0);
    transform-origin: top;
    transition: transform .5s ease-out,.5s visibility
}

.cmp-btn__download-popup a {
    color: #0076a8!important
}

.cmp-btn__download-popup.visible {
    visibility: visible;
    transform: translate(-50%) scaleY(1)
}

.cmp-btn__download-popup ul {
    max-height: 173px;
    overflow: auto
}

.cmp-btn__download-popup a:not([target="_blank"]):before {
    content: "";
    padding: 0
}

.cmp-btn__download-popup-item {
    display: flex;
    gap: 12px
}

.cmp-btn__download-popup-item:last-child {
    margin-bottom: 0
}

.cmp-btn__download-popup-item-link {
    font-size: 1em;
    line-height: 1.1875em;
    letter-spacing: 0;
    color: #0076a8!important;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__download-popup-item-link:hover {
    text-decoration: underline
}

.cmp-btn__download-popup-item-link-size {
    font-size: .875em;
    color: #000;
    display: block;
    font-weight: 400
}

.cmp-btn__download-popup-item-link-size:hover {
    text-decoration: none
}

.cmp-btn__download-popup .button.cmp-btn {
    margin-top: 32px
}

.cmp-btn__download-popup .button.cmp-btn .button-container {
    flex-grow: 1
}

.cmp-btn__download-popup .button.cmp-btn .button-container a {
    padding: 8px 52px
}

.cmp-btn__icon--multi-downloads {
    position: relative
}

.cmp-btn__icon--multi-downloads .icon-chevron-down {
    display: inline-block;
    padding-left: 8px;
    transform-origin: center;
    transition: transform .3s ease-out
}

.cmp-btn__icon--multi-downloads .icon-chevron-down.up {
    padding-left: 0;
    padding-right: 8px;
    transform: rotate(180deg)
}

.cmp-modal-horizontal-layout .cmp-modal__container {
    width: 690px;
    max-width: 770px
}

.cmp-modal-horizontal-layout .cmp-modal__container .modal-body {
    display: grid;
    max-height: 650px;
    gap: 0 24px;
    grid-template-areas: "modalImage modalContent" "modalImage modalFooter";
    box-sizing: border-box;
    grid-template-columns: 170px auto
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-modal-horizontal-layout .cmp-modal__container .modal-body {
        max-width:592px;
        margin: 0 auto;
        height: auto;
        grid-template-areas: "modalContent" "modalImage" "modalFooter";
        grid-template-columns: 1fr
    }
}

@media screen and (max-width: 767px) {
    .cmp-modal-horizontal-layout .cmp-modal__container .modal-body {
        grid-template-areas:"modalImage" "modalContent" "modalFooter";
        grid-template-columns: 1fr
    }
}

.cmp-modal-horizontal-layout .cmp-modal__container img {
    max-height: 320px;
    height: 100%;
    width: 170px!important;
    margin-bottom: 0
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-modal-horizontal-layout .cmp-modal__container img {
        width:100%!important;
        margin-bottom: 24px
    }
}

.cmp-modal-horizontal-layout__image {
    grid-area: modalImage
}

.cmp-modal-horizontal-layout__title__text {
    grid-area: modalContent
}

.cmp-modal-horizontal-layout .cmp-modal__footer {
    grid-area: modalFooter;
    align-items: flex-start
}

.cmp-modal-horizontal-layout .cmp-modal__footer .cmp-btn {
    margin-bottom: 0
}

.animated-overlay {
    z-index: 2003!important;
    position: fixed;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all .5s cubic-bezier(.76,.01,.58,1)
}

.animated-overlay--show {
    top: 0
}

.animated-overlay__close-icon {
    position: absolute;
    right: 140px;
    top: 72px;
    cursor: pointer;
    border: none;
    background: transparent
}

.animated-overlay__close-icon .icon-remove {
    font-size: 20px
}

@media screen and (max-width: 767px) {
    .animated-overlay__close-icon {
        right:27px;
        top: 24px
    }
}

.animated-overlay__content {
    width: 100%;
    height: calc(100% - 280px);
    overflow: auto;
    margin: 140px 0
}

@media screen and (max-width: 767px) {
    .animated-overlay__content {
        margin:84px 0;
        padding: 0 27px;
        width: auto;
        height: calc(100% - 168px)
    }
}

.animated-overlay__form-container {
    width: 692px;
    margin: 0 auto
}

@media screen and (max-width: 767px) {
    .animated-overlay__form-container {
        width:100%
    }
}

.cmp-modal-transparent-bg .modal-body {
    background-color: #fff;
    padding: 0;
    margin: 0
}

.cmp-modal-transparent-bg .modal-header,.cmp-modal-transparent-bg .modal-dialog {
    background: transparent
}

.cmp-modal-transparent-bg .modal-dialog {
    box-shadow: none;
    max-width: calc(100% - 112px);
    width: 100%;
    padding: 0
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-modal-transparent-bg .modal-dialog {
        max-width:550px!important
    }
}

@media screen and (min-width: 1201px) {
    .cmp-modal-transparent-bg .modal-dialog {
        max-width:863px!important
    }
}

.cmp-modal-transparent-bg .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-right: 48px
}

.cmp-modal-transparent-bg .modal-content {
    background-color: transparent
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player {
    font-size: 14px;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 16/9;
    height: 100%
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar {
    background-color: #00000073;
    color: #fff
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar button {
    background-color: transparent
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar button:hover {
    background-color: #000
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-control:focus span {
    outline: none!important
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-play-progress,.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-volume-level {
    background-color: #007cb0
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-progress-control {
    align-items: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1.5em;
    top: -1.5em
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-progress-control .vjs-progress-holder {
    margin: 0
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-current-time,.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-time-divider,.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-duration {
    display: block
}

@media screen and (max-width: 767px) {
    .cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-current-time,.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-time-divider,.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-duration {
        display:none
    }
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-remaining-time,.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-picture-in-picture-control {
    display: none
}

.cmp-modal-transparent-bg .modal-content .cmp-video__player .vjs-control-bar .vjs-custom-control-spacer {
    display: flex;
    flex: 1 1 auto
}

.cmp-modal-transparent-bg .close {
    color: #fff;
    font-size: 2em;
    position: absolute;
    line-height: 1;
    right: 0;
    top: 4px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 2
}

.cmp-modal-transparent-bg .close:hover,.cmp-modal-transparent-bg .close span:hover {
    color: #fff;
    background-color: transparent!important
}

.cmp-modal-transparent-bg .close:focus {
    outline: thin dotted;
    color: #fff
}

.cmp-modal-transparent-bg .cmp-video .vjs-big-play-button:after {
    display: none
}

.cmp-modal-transparent-bg .modal-dialog-centered {
    margin: auto!important
}

.cmp-modal-transparent-bg .cmp-video .vjs-big-play-button:before {
    display: none
}

.cmp-modal-transparent-bg.dcom-theme2-1 .modal-header,.cmp-modal-transparent-bg.dcom-theme2-1 .modal-dialog {
    background-color: #000
}

.cmp-modal-transparent-bg.dcom-theme2-1 .modal-body [class^=cmp-fallback-] {
    color: #fff
}

.cmp-modal-transparent-bg.dcom-theme2-1 .modal-body [class^=cmp-fallback-] .cmp-fallback__icons-container .cmp-fallback__icons-error {
    background-color: #fff;
    color: #000
}
