.cmp-promo-tracking {
    display: block
}

.cmp-promo-divider {
    width: 1px;
    background-color: #53565a
}

.cmp-promo__content__title,.cmp-promo__content__desc {
    color: #000;
    margin-bottom: 4px
}

.cmp-promo__content [class*=theme__] .cmp-promo__content__title,.cmp-promo__content [class*=theme__] .cmp-promo__content__desc {
    color: inherit
}

.cmp-promo__content__publish {
    color: #53565a
}

.cmp-promo__background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%
}

.cmp-container__column .aem-Grid {
    width: 100%
}

.promocontainerv2 .swiper-slide {
    height: 100%!important
}

.dcom-theme3-5 div:has([class*="cmp-promo"]) a {
    text-decoration: none
}

.cmp-promo--bg {
    position: relative
}

.cmp-promo--bg .cmp-promo__background:before,.cmp-promo--bg .cmp-promo__background:after {
    position: absolute;
    inset: 0;
    content: "";
    transition: opacity .5s linear
}

.cmp-promo--bg .cmp-promo__background:before {
    background-image: linear-gradient(0deg,#000000ac 0%,#3030306e 45%,#54545400 100%)
}

.cmp-promo--bg .cmp-promo__background:after {
    background-image: linear-gradient(0deg,#000000 0%,#3030306e 80%,#54545400 100%);
    opacity: 0
}

@media screen and (max-width: 1200px) {
    .cmp-promo--bg .cmp-promo__background:after {
        opacity:1
    }
}

@media screen and (max-width: 767px) {
    .cmp-promo--bg .cmp-promo__background {
        min-height:359px!important
    }
}

.cmp-promo--bg .cmp-promo-tracking:hover .cmp-promo__background:after {
    opacity: 1
}

.cmp-promo--bg .cmp-promo-tracking:hover .cmp-promo__background:before {
    opacity: 0
}

.cmp-promo--bg .cmp-promo__content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 40px
}

@media screen and (max-width: 767px) {
    .cmp-promo--bg .cmp-promo__content {
        padding:32px 28px
    }
}

.cmp-promo--bg .cmp-promo__content__title {
    font-size: 1.375em;
    color: #fff;
    font-weight: var(--font-weight-regular);
    margin: 0;
    line-height: 30px
}

.cmp-promo--bg .cmp-promo__content__title span {
    display: block
}

.cmp-promo--bg .cmp-promo__content__desc {
    color: #fff
}

.cmp-promo--bg--short .cmp-promo__content__title:before {
    content: "\e837";
    font-size: 1em;
    font-family: Dcom-EDE;
    transform: rotate(-180deg);
    display: inline-block;
    transition: transform .3s ease-in-out;
    margin-bottom: 16px;
    line-height: 1
}

@media screen and (max-width: 1200px) {
    .cmp-promo--bg--short .cmp-promo__content__title:before {
        display:none
    }
}

.cmp-promo--bg--short .cmp-promo__content__desc-link-label {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s ease-in-out;
    will-change: transfrom;
    box-sizing: border-box;
    margin: 0
}

@media screen and (max-width: 1200px) {
    .cmp-promo--bg--short .cmp-promo__content__desc-link-label {
        grid-template-rows:1fr
    }
}

.cmp-promo--bg--short .cmp-promo__content__desc-link-label__inner {
    overflow: hidden
}

.cmp-promo--bg--short .cmp-promo__content__link-label,.cmp-promo--bg--short .cmp-promo__content__desc {
    padding: 24px 0 0;
    margin: 0;
    line-height: 22px
}

@media screen and (max-width: 767px) {
    .cmp-promo--bg--short .cmp-promo__content__desc {
        padding-top:16px
    }
}

.cmp-promo--bg--short .cmp-promo__content__link-label {
    color: #fff;
    font-weight: var(--font-weight-bold);
    text-decoration: underline
}

.cmp-promo--bg--short .cmp-promo-tracking:hover .cmp-promo__content__desc-link-label {
    grid-template-rows: 1fr
}

.cmp-promo--bg--short .cmp-promo-tracking:hover .cmp-promo__content__title:before {
    transform: rotate(0)
}

.cmp-promo--branded-featured.cmp-promo .cmp-promo__image {
    margin-bottom: 16px
}

.cmp-promo--branded-featured.cmp-promo .cmp-promo__image img:not(.cmp-co-branding-img) {
    max-height: 35px;
    aspect-ratio: auto;
    object-fit: contain;
    width: auto!important
}

.cmp-promo--branded-featured.cmp-promo .cmp-promo__content__title {
    font-size: 2.5em;
    margin-bottom: 16px
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo .cmp-promo__content__title {
        font-size:2em
    }
}

.cmp-promo--branded-featured.cmp-promo .cmp-promo__content__subtitle {
    font-size: 1em;
    margin-bottom: 16px
}

.cmp-promo--branded-featured.cmp-promo .cmp-promo__content__desc {
    font-size: 1em;
    margin-bottom: 32px
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo .cmp-promo__content__desc {
        display:-webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden
    }
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__image {
    margin-bottom: 0
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__image .cmp-co-branding {
    margin-bottom: 24px
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__image .cmp-co-branding {
        margin-bottom:16px
    }
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__image .cmp-co-branding img {
    max-height: 48px;
    margin: 0;
    width: auto
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__content__title {
    font-size: 2em;
    font-weight: var(--font-weight-regular);
    margin-bottom: 24px
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__content__title {
        font-size:1.25em;
        margin-bottom: 16px
    }
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__content__subtitle {
    display: none
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__content__desc {
    font-size: 1em;
    margin-bottom: 32px
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__content__desc {
        display:-webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden
    }
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__content .cmp-btn__rounded .button-container {
    width: auto
}

@media screen and (max-width: 1023px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded-featured__cobranding-logo .cmp-promo__content .cmp-btn__rounded .button-container {
        width:100%
    }
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__content__title {
    font-size: 2.5em;
    line-height: 54px
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__content__title {
        font-size:2em;
        line-height: 44px
    }
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__content__desc {
        -webkit-line-clamp:unset
    }
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__button-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__button-container {
        gap:32px 0;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0!important
    }
}

@media screen and (max-width: 1023px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__button-container {
        margin-bottom:32px
    }
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__button-container .cmp-btn {
    width: auto
}

@media screen and (max-width: 767px) {
    .cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__button-container .cmp-btn {
        width:100%;
        justify-content: center
    }
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__button-container .cmp-btn.cmp-btn__link .button-container a {
    gap: 8px
}

.cmp-promo--branded-featured.cmp-promo.cmp-promo--branded_featured__with-label-and-link .cmp-promo__button-container .cmp-btn.cmp-btn__link .button-container a .icon-arrow-right:before {
    font-size: 18px
}

.cmp-promo--branded-featured.cmp-promo .cmp-promo__content .cmp-btn a[target=_blank]:after {
    content: "\f08e";
    font-family: Dcom-EDE!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    font-size: 1em;
    color: #fff
}

.cmp-promo--primary-detailed {
    position: relative;
    padding: 44px 24px 36px;
    background-color: #e8eae9
}

.cmp-promo--primary-detailed .cmp-promo__type {
    position: absolute;
    top: 0;
    display: inline-flex;
    padding: 4px 8px;
    color: #fff;
    background-color: #000;
    font-size: .75em
}

.cmp-promo--primary-detailed .cmp-promo__content__primary-author {
    display: flex;
    align-items: center
}

.cmp-promo--primary-detailed .cmp-promo__content__primary-author__name {
    color: #000;
    font-size: .9em
}

.cmp-promo--primary-detailed .cmp-promo__content__title {
    line-height: 1.25
}

.cmp-promo--primary-detailed .cmp-promo__content__publish {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: .9em;
    font-weight: var(--font-weight-bold)
}

.cmp-promo--primary-detailed .cmp-promo__content__publish * {
    font-weight: var(--font-weight-bold)
}

.cmp-promo--primary-detailed .cmp-promo__content__publish-date {
    margin-right: 12px;
    float: left;
    padding-right: 15px;
    border-right: 1px solid #53565A;
    color: #53565a
}

.cmp-promo--primary-detailed .cmp-promo__content__publish-date--ago {
    margin-left: 12px;
    display: inline;
    color: #53565a
}

.cmp-promo--primary-detailed .cmp-promo__content__desc.dot-ellipsis {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.cmp-promo--card {
    flex: 1;
    max-width: 300px
}

@media screen and (max-width: 767px) {
    .cmp-promo--card {
        flex:1 0 85%
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-promo--card {
        flex:1 0 45%
    }
}

.cmp-promo--card .cmp-promo {
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.cmp-promo--card .cmp-promo__image {
    margin-bottom: 16px;
    object-fit: cover;
    width: 100%
}

.cmp-promo--card .cmp-promo__image img {
    width: 100%!important;
    height: auto!important
}

.cmp-promo--card .cmp-promo__content__title {
    font-size: 1.125em;
    margin-bottom: 16px;
    color: #0076a8;
    font-weight: 400
}

.cmp-promo--card .cmp-promo__content__desc {
    margin: 0;
    color: #000
}

.cmp-promo--card--opt-2 {
    flex: 1
}

.cmp-promo--card--opt-2 .cmp-promo {
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.cmp-promo--card--opt-2 .cmp-promo__image {
    margin-bottom: 24px
}

.cmp-promo--card--opt-2 .cmp-promo__image img {
    max-width: 100%;
    width: 100%;
    height: 338px
}

.cmp-promo--card--opt-2 .cmp-promo__content__title {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #007cb0;
    font-weight: var(--font-weight-bold);
    line-height: 26px
}

.cmp-promo--card--opt-2 .cmp-promo__content__title * {
    font-weight: var(--font-weight-bold)
}

.cmp-promo--card--opt-2 .cmp-promo__content__desc {
    margin: 0 0 8px;
    font-size: 1em;
    color: #53565a;
    line-height: 24px
}

.cmp-promo--card--opt-2 .cmp-promo__content__details {
    color: #007cb0;
    font-weight: var(--font-weight-bold)
}

.cmp-promo--featured-opt1 {
    min-width: 460px;
    background: #fff;
    padding: 0
}

.cmp-promo--featured-opt1 .cmp-promo__image img {
    width: 100%;
    max-height: 160px
}

.cmp-promo--featured-opt1 .cmp-promo__content {
    padding: 20px 24px 24px
}

.cmp-promo--featured-opt1 .cmp-promo__content__title {
    font-size: 1.25em
}

.cmp-promo--featured-opt1 .cmp-promo__content__publish {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: .9em;
    font-weight: var(--font-weight-bold)
}

.cmp-promo--featured-opt1 .cmp-promo__content__publish * {
    font-weight: var(--font-weight-bold)
}

.cmp-promo--featured-opt1 .cmp-promo__content__publish-date {
    margin-right: 12px;
    float: left;
    color: #000
}

.cmp-promo--featured-opt1 .cmp-promo__content__primary-author {
    margin-left: 12px;
    display: inline;
    color: #53565a;
    font-size: .875em;
    border-left: 1px solid #53565a;
    padding-left: 10px
}

.cmp-promo--featured-opt-2 {
    min-width: 460px
}

.cmp-promo--featured-opt-2 .cmp-promo__image {
    margin-bottom: 16px
}

.cmp-promo--featured-opt-2 .cmp-promo__image img {
    width: 100%;
    max-height: 200px
}

.cmp-promo--featured-opt-2 .cmp-promo__content__title {
    font-size: 1.25em
}

.cmp-promo--featured-opt-2 .cmp-promo__content__publish {
    display: flex;
    align-items: center;
    font-size: .9em
}

.cmp-promo--featured-opt-2 .cmp-promo__content__publish-date {
    margin-right: 12px;
    float: left;
    color: #53565a
}

.cmp-promo--featured-opt-2 .cmp-promo__content__primary-author {
    margin-left: 12px;
    float: left;
    color: #53565a
}

.cmp-promo-featured--opt-2-with-large-image {
    min-width: 690px
}

.cmp-promo-featured--opt-2-with-large-image .cmp-promo__image {
    margin-bottom: 16px
}

.cmp-promo-featured--opt-2-with-large-image .cmp-promo__image img {
    width: 100%;
    max-height: 380px;
    object-fit: cover
}

.cmp-promo-featured--opt-2-with-large-image .cmp-promo__content__title {
    font-size: 1.25em
}

.cmp-promo-featured--opt-2-with-large-image .cmp-promo__content__publish {
    display: flex;
    align-items: center;
    font-size: .9em
}

.cmp-promo-featured--opt-2-with-large-image .cmp-promo__content__publish-date {
    margin-right: 12px;
    float: left;
    color: #53565a
}

.cmp-promo-featured--opt-2-with-large-image .cmp-promo__content__primary-author {
    margin-left: 12px;
    float: left;
    color: #53565a
}

.cmp-promo--featured-opt-3 {
    height: 415px;
    border: .5px solid #53565a
}

.cmp-promo--featured-opt-3 .cmp-promo__image {
    min-height: 175px!important
}

.cmp-promo--featured-opt-3 .cmp-promo__image img {
    width: 100%;
    object-fit: cover;
    height: 215px
}

.cmp-promo--featured-opt-3 .cmp-promo__content {
    padding: 16px
}

.cmp-promo--featured-opt-3 .cmp-promo__content__title {
    font-size: 1em;
    color: #86bc25;
    line-height: 2.5em
}

.cmp-promo--featured-opt-3 .cmp-promo__content__desc {
    color: #d0d0ce
}

.cmp-promo--featured-opt-3:hover {
    opacity: .8
}

.cmp-promo--featured-opt-3--with-background {
    min-height: 580px;
    min-width: 920px;
    position: relative
}

.cmp-promo--featured-opt-3--with-background .cmp-promo__content {
    margin-top: 400px;
    margin-left: 25px;
    width: 560px
}

.cmp-promo--featured-opt-3--with-background .cmp-promo__content__link {
    color: #fff
}

.cmp-promo--featured-opt-4 {
    position: relative;
    min-height: 375px
}

.cmp-promo--featured-opt-4 .cmp-promo__background {
    min-height: 375px
}

.cmp-promo--featured-opt-4 .cmp-promo__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 100px 30px 30px;
    text-align: center;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.9) 95%);
    box-sizing: border-box
}

.cmp-promo--featured-opt-4 .cmp-promo__content__title {
    margin-bottom: 16px;
    color: #fff
}

.cmp-promo--featured-opt-4 .cmp-promo__content__desc {
    display: none
}

.cmp-promo--featured-opt-4 .cmp-promo__content__link .cmp-btn {
    width: 75%;
    display: block;
    margin: auto
}

.cmp-promo--featured-opt-4 .cmp-promo__content__link-label {
    display: block;
    width: 75%;
    margin: auto;
    padding: .75rem;
    font-size: 1.125em;
    background-color: #00abab;
    color: #000;
    border-radius: .18rem;
    cursor: pointer
}

.cmp-promo--featured-opt-4 .cmp-promo__content__link-label :hover {
    background-color: #000
}

.cmp-promo--featured-opt-4--height-220 {
    min-width: 332px;
    min-height: 220px
}

.cmp-promo--featured-opt-4--height-220 .cmp-promo__background {
    min-height: 220px
}

.cmp-promo--featured-opt-4--height-220 .cmp-promo__content__link-label {
    width: 65%!important
}

.cmp-promo--featured-opt-4--height-460 {
    min-width: 685px;
    min-height: 460px
}

.cmp-promo--featured-opt-4--height-460 .cmp-promo__background {
    min-height: 460px
}

.cmp-promo--featured-opt-4--height-460 .cmp-promo__content__link-label {
    width: 30%!important
}

.cmp-promo--featured-opt-4--with-desc .cmp-promo__content {
    text-align: start;
    padding: 100px 24px 24px;
    width: 100%;
    box-sizing: border-box
}

.cmp-promo--featured-opt-4--with-desc .cmp-promo__content__title {
    margin-bottom: 16px
}

.cmp-promo--featured-opt-4--with-desc .cmp-promo__content__desc {
    color: #fff;
    margin-bottom: 16px
}

.cmp-promo--featured-opt-4--with-desc .cmp-promo__content__link-label {
    text-align: center;
    margin: unset
}

.cmp-promo--featured-opt-4--with-desc .cmp-promo__content__link-label:hover {
    background: #6fc2b4
}

button {
    border-width: thin
}

.button-circle button,.button-circle .button-container {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    background: transparent;
    width: 50px;
    height: 50px;
    font-size: 1.75em;
    line-height: 50px
}

.cmp-btn {
    background-color: transparent!important;
    width: 100%;
    display: flex
}

.cmp-btn button,.cmp-btn .button-container {
    border-radius: .18rem;
    padding: .52rem 1.3rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid transparent
}

.cmp-btn button a,.cmp-btn .button-container a {
    display: block;
    color: #000;
    text-decoration: none;
    white-space: normal
}

.cmp-btn button a:hover,.cmp-btn .button-container a:hover {
    opacity: .8
}

.cmp-btn__lg button,.cmp-btn__lg .button-container {
    font-size: 1.125em;
    padding: 1.1rem 1rem
}

.cmp-btn__md button,.cmp-btn__md .button-container {
    font-size: 1.125em
}

.cmp-btn__sm button,.cmp-btn__sm .button-container {
    font-size: .875em;
    padding: .29rem 3.3rem
}

.cmp-btn__rounded button,.cmp-btn__rounded .button-container {
    width: auto;
    border-radius: 6.25em;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__rounded.cmp-btn__rounded__sm button,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__sm button a,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container a {
    padding: .5em 2.5em;
    text-wrap: wrap
}

@media screen and (max-width: 375px) {
    .cmp-btn__rounded.cmp-btn__rounded__sm button a,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container a {
        padding:.5em 1.5em
    }
}

.cmp-btn__rounded.cmp-btn__rounded__md button,.cmp-btn__rounded.cmp-btn__rounded__md .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__md button a,.cmp-btn__rounded.cmp-btn__rounded__md .button-container a {
    padding: .75em 2.5em
}

.cmp-btn__rounded.cmp-btn__rounded__lg button,.cmp-btn__rounded.cmp-btn__rounded__lg .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__lg button a,.cmp-btn__rounded.cmp-btn__rounded__lg .button-container a {
    padding: 1em 2.5em
}

.cmp-btn__rounded.cmp-btn__rounded__bottom-right-0 .button-container {
    border-bottom-right-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__bottom-left-0 .button-container {
    border-bottom-left-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__top-right-0 .button-container {
    border-top-right-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__top-left-0 .button-container {
    border-top-left-radius: 0
}

.cmp-btn__full-width .button-container {
    width: 100%
}

@media screen and (min-width: 1024px) {
    .cmp-btn__full-width--desktop .button-container {
        width:100%
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-btn__full-width--tablet .button-container {
        width:100%
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn__full-width--mobile .cmp-button__modal {
        width:inherit
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn__full-width--mobile .button-container {
        width:100%
    }
}

.cmp-btn:focus button,.cmp-btn:focus .button-container {
    outline-width: .5px;
    outline-style: dashed;
    outline-color: #bbbcbc
}

@media screen and (max-width: 767px) {
    .cmp-btn--fixed--bottom--mobile {
        display:none!important;
        position: fixed;
        bottom: 5px;
        left: 50%;
        transform: translate(calc(-50% - 40px),-50%);
        z-index: 2100;
        max-width: 235px;
        margin: 0!important;
        width: 100%!important
    }

    .cmp-btn--fixed--bottom--mobile .button-container {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn--clone--full-width {
        transform:translate(-50%,-50%);
        max-width: 100%;
        padding: 0 24px;
        box-sizing: border-box
    }

    .cmp-btn--clone--full-width .button-container {
        box-shadow: 0 3px 6px #00000029
    }
}

.cmp-btn--clone--full-width>div {
    width: 100%
}

@media screen and (max-width: 767px) {
    .cmp-btn--clone--short-width {
        max-width:235px
    }
}

.cmp-btn--clone--short-width>div {
    width: 100%
}

.cmp-btn__secondary .button {
    background-color: transparent;
    border: 1px solid
}

.cmp-btn__link {
    width: auto
}

.cmp-btn__link .button-container {
    width: auto;
    padding: 0;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__link .button-container a {
    color: #007cb0;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none!important;
    z-index: 1
}

.cmp-btn__link .button-container a:before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    transition: width .3s ease,opacity .3s ease;
    border-bottom: 1px solid currentColor;
    display: flex;
    opacity: 0;
    z-index: -1
}

.cmp-btn__link .button-container a:active,.cmp-btn__link .button-container a:hover:before {
    width: 100%;
    opacity: 1
}

.cmp-btn__link .button-container a:hover {
    opacity: 1
}

.cmp-btn__link .button-container a:after {
    padding-top: 1px
}

.cmp-btn__icon a:not([target="_blank"]):after {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em
}

.cmp-btn__icon--left a:not([target="_blank"]):before {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em;
    padding-right: 4px
}

.cmp-btn__icon--arrow-right a:not([target="_blank"]):after {
    content: "\e899"
}

.cmp-btn__icon--download a:not([target="_blank"]):after,.cmp-btn__icon--download--left a:not([target="_blank"]):before {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f019"
}

.cmp-btn__icon--left a:not([target="_blank"]) {
    flex-direction: row-reverse
}

.cmp-btn__icon--filled a:not([target="_blank"]):after {
    background: #1076a8;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1
}

.cmp-btn--width-auto {
    width: auto
}

@media screen and (max-width: 767px) {
    .cmp-btn--width-100--mobile,.cmp-btn--width-100--mobile .button-container {
        width:100%
    }
}

.button.cmp-btn__rounded .button-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.cmp-btn__download-popup {
    visibility: hidden;
    position: absolute;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 16px #00000029;
    border-radius: 8px;
    min-height: 0;
    max-height: 272px;
    opacity: 1;
    width: 300px;
    padding: 24px;
    top: 58px;
    left: 0;
    box-sizing: border-box;
    z-index: 2000;
    color: #707070;
    overflow: hidden;
    transform: translate(-50%) scaleY(0);
    transform-origin: top;
    transition: transform .5s ease-out,.5s visibility
}

.cmp-btn__download-popup a {
    color: #0076a8!important
}

.cmp-btn__download-popup.visible {
    visibility: visible;
    transform: translate(-50%) scaleY(1)
}

.cmp-btn__download-popup ul {
    max-height: 173px;
    overflow: auto
}

.cmp-btn__download-popup a:not([target="_blank"]):before {
    content: "";
    padding: 0
}

.cmp-btn__download-popup-item {
    display: flex;
    gap: 12px
}

.cmp-btn__download-popup-item:last-child {
    margin-bottom: 0
}

.cmp-btn__download-popup-item-link {
    font-size: 1em;
    line-height: 1.1875em;
    letter-spacing: 0;
    color: #0076a8!important;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__download-popup-item-link:hover {
    text-decoration: underline
}

.cmp-btn__download-popup-item-link-size {
    font-size: .875em;
    color: #000;
    display: block;
    font-weight: 400
}

.cmp-btn__download-popup-item-link-size:hover {
    text-decoration: none
}

.cmp-btn__download-popup .button.cmp-btn {
    margin-top: 32px
}

.cmp-btn__download-popup .button.cmp-btn .button-container {
    flex-grow: 1
}

.cmp-btn__download-popup .button.cmp-btn .button-container a {
    padding: 8px 52px
}

.cmp-btn__icon--multi-downloads {
    position: relative
}

.cmp-btn__icon--multi-downloads .icon-chevron-down {
    display: inline-block;
    padding-left: 8px;
    transform-origin: center;
    transition: transform .3s ease-out
}

.cmp-btn__icon--multi-downloads .icon-chevron-down.up {
    padding-left: 0;
    padding-right: 8px;
    transform: rotate(180deg)
}

@media print {
    .cmp-btn {
        -webkit-print-color-adjust: exact;
        background-color: #0076a8;
        color: #fff
    }

    .cmp-btn__rounded.dcom-theme4-5 {
        margin-bottom: 0
    }

    .cmp-btn__rounded.dcom-theme4-5 .button-container {
        background-color: transparent!important;
        color: #007cb0!important
    }

    .cmp-btn__rounded.dcom-theme4-5 .button-container a {
        color: #007cb0!important
    }

    .cmp-btn--clone,.event-template-page .cmp-event-details .cmp-btn__rounded.cmp-btn__rounded__sm,.event-template-page .cmp-cta__standard.cmp-cta__standard--buton-centered-devices .cmp-cta__button-container,.event-template-page .cmp-cta__container-content .cmp-cta__button-container .cmp-btn__link,.event-template-page .cmp-accordion-v3.cmp-accordion-v3--standard .cmp-btn__rounded.cmp-btn__rounded__sm,.event-template-page .cmp-carousel__scrollbar__slide .cmp-profile-promo .cmp-profile-promo__link,.event-template-page .cmp-container__column .cmp-btn__link.cmp-btn__icon {
        display: none
    }
}

.cmp-promo--featured-opt-5 {
    position: relative;
    min-height: 450px
}

.cmp-promo--featured-opt-5 .cmp-promo__content {
    padding: 45% 0 24px;
    bottom: 0;
    background: linear-gradient(180deg,rgba(0,0,0,0) 50%,rgba(0,0,0,.8) 80%)
}

.cmp-promo--featured-opt-5 .cmp-promo__content__title {
    width: 90%;
    line-height: 2em;
    padding-right: 16px;
    font-size: 1.5em;
    margin-bottom: 16px
}

.cmp-promo--featured-opt-5 .cmp-promo__content__title span {
    display: inline;
    padding: 8px 12px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    line-height: 1.6em
}

.cmp-promo--featured-opt-5 .cmp-promo__content__title-wrap {
    display: inline-flex;
    margin-bottom: 16px;
    padding: 4px 12px;
    background-color: #007680;
    color: #fff
}

.cmp-promo--featured-opt-5 .cmp-promo__content__desc {
    color: #d0d0ce;
    margin-bottom: 4px;
    padding: 0 12px
}

.cmp-promo--featured-opt-5 .cmp-promo__content__link {
    padding: 0 12px;
    color: #fff
}

.cmp-promo--featured-opt-5 .cmp-promo__content__link-label {
    color: #d0d0ce;
    padding: 0 12px
}

.cmp-promo--featured-opt-5__overlay {
    position: relative;
    border: .5px solid #53565a
}

.cmp-promo--featured-opt-5__overlay .cmp-promo__background {
    background-position: top;
    background-size: contain
}

.cmp-promo--featured-opt-5__overlay .cmp-promo__background:hover {
    opacity: .8
}

.cmp-promo--featured-opt-5__overlay .cmp-promo__content {
    position: absolute;
    background-color: #000;
    bottom: 0;
    padding: 16px;
    width: 100%;
    box-sizing: border-box
}

.cmp-promo--featured-opt-5__overlay .cmp-promo__content__title {
    line-height: 2em;
    font-size: 1em
}

.cmp-promo--featured-opt-5__overlay .cmp-promo__content__desc {
    color: #d0d0ce
}

.cmp-promo--featured-opt-5__overlay .cmp-promo__content__link {
    padding: 0 12px;
    color: #d0d0ce
}

.cmp-promo--featured-opt-5__overlay .cmp-promo__content__link-label {
    color: #d0d0ce;
    font-weight: 700
}

.cmp-promo--featured-opt-5__overlay.cmp-promo-bottom-20 .cmp-promo__background {
    min-height: 653px!important;
    background-position: center;
    background-size: cover
}

.cmp-promo--featured-opt-5__overlay.cmp-promo-bottom-20 .cmp-promo__content {
    bottom: 40px;
    width: 70%;
    left: 30px;
    background-color: #000c
}

.cmp-promo--featured-primary {
    padding: 24px 16px 16px!important
}

.cmp-promo--featured-primary .cmp-promo {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

@media screen and (max-width: 767px) {
    .cmp-promo--featured-primary .cmp-promo {
        height:auto!important
    }
}

@media screen and (min-width: 1201px) {
    .cmp-promo--featured-primary .cmp-promo {
        height:auto!important
    }
}

.cmp-promo--featured-primary .cmp-promo__type {
    margin-bottom: 8px
}

.cmp-promo--featured-primary .cmp-promo__type span {
    font-size: .875em;
    color: #fff;
    background: #000;
    padding: 3px 10px;
    display: inline-block
}

.cmp-promo--featured-primary .cmp-promo__content__title {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
    color: #000
}

.cmp-promo--featured-primary .cmp-promo__content__title.dot-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.cmp-promo--featured-primary .cmp-promo__content__title.dot-ellipsis:not([class*="dot-lines-"]) {
    -webkit-line-clamp: 3
}

.cmp-promo--featured-primary .cmp-promo__content__primary-author {
    font-size: .875em;
    font-weight: 700;
    color: #53565a;
    margin-bottom: 16px
}

.cmp-promo--featured-primary .cmp-promo__content__primary-author__preposition {
    font-weight: var(--font-weight-bold)
}

.cmp-promo--featured-primary .cmp-promo__content__desc {
    color: #53565a;
    font-size: .875em;
    line-height: 20px;
    margin: 0 0 16px
}

.cmp-promo--featured-primary .cmp-promo__content__desc.dot-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.cmp-promo--featured-primary .cmp-promo__content__desc.dot-ellipsis:not([class*="dot-lines-"]) {
    -webkit-line-clamp: 3
}

.cmp-promo--featured-primary .cmp-promo__location__date,.cmp-promo--featured-primary .cmp-promo__content-type__read-time {
    display: flex;
    align-items: center;
    font-size: .875em;
    color: #53565a;
    margin: 0 0 8px
}

.cmp-promo--featured-primary .cmp-promo__content__type {
    color: #000;
    font-weight: var(--font-weight-bold)
}

.cmp-promo--featured-primary .cmp-promo-divider {
    height: 12px;
    margin: 0 8px;
    width: 1px;
    background-color: #53565a
}

.cmp-promo--featured-primary .cmp-promo__image {
    overflow: hidden;
    line-height: 0;
    border-radius: 8px;
    position: relative
}

.cmp-promo--featured-primary .cmp-promo__image .cmp-co-branding {
    margin-bottom: 16px
}

.cmp-promo--featured-primary .cmp-promo__image.img-position-bottom {
    margin-top: 16px
}

.cmp-promo--featured-primary .cmp-promo__image.img-position-top {
    margin-bottom: 16px
}

.cmp-promo--featured-primary .cmp-promo__image img:not(.cmp-co-branding-img) {
    max-width: 100%;
    transition: transform .3s linear;
    width: 100%
}

.cmp-promo--featured-primary .cmp-promo__image__format-tag {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: #fff;
    padding: 4px 8px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    color: #000;
    z-index: 1
}

.cmp-promo--featured-primary .cmp-promo__image__format-tag-image {
    width: 16px
}

.cmp-promo--featured-primary .cmp-promo__image__format-tag-text {
    font-size: .75em;
    line-height: 17px
}

.cmp-promo--featured-primary .cmp-promo__image__format-tag img {
    width: 100%;
    height: auto;
    transition: none;
    object-fit: unset!important;
    aspect-ratio: unset!important
}

.cmp-promo--featured-primary .cmp-promo .img-square img {
    aspect-ratio: 1/1;
    object-fit: cover
}

.cmp-promo--featured-primary .cmp-promo .img-custom img {
    aspect-ratio: auto
}

.cmp-promo--featured-primary .cmp-promo .img-3-2 {
    aspect-ratio: 3/2;
    object-fit: cover
}

.cmp-promo--featured-primary .cmp-promo-tracking {
    text-decoration: none
}

.cmp-promo--featured-primary a:hover .cmp-promo__content__title {
    text-decoration: underline
}

.cmp-promo--featured-primary a:hover .cmp-promo__image img:not(.cmp-co-branding-img) {
    transform: scale(1.1)
}

.cmp-promo--featured-primary a[target=_blank] {
    position: relative
}

.cmp-promo--featured-primary a[target=_blank]:before {
    content: "\f08e";
    font-family: Dcom-EDE!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    font-size: 1em;
    color: #000;
    position: absolute;
    top: 0;
    right: 0
}

.cmp-promo--featured-primary a[target=_blank] .cmp-promo__content__title {
    margin-right: 16px;
    margin-inline-start:0px}

.cmp-promo--us-poc-promo-description-theme .cmp-promo__content__desc {
    color: #fff!important
}

.cmp-promo--featured-primary-horizontal {
    padding: 16px
}

.cmp-promo--featured-primary-horizontal .cmp-promo {
    display: none
}

.cmp-promo--featured-primary-horizontal>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 44px
}

@media screen and (max-width: 767px) {
    .cmp-promo--featured-primary-horizontal>a {
        height:auto!important;
        flex-direction: column;
        gap: 24px
    }
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-promo--featured-primary-horizontal>a {
        height:auto!important;
        max-height: 148px!important
    }
}

@media screen and (min-width: 1201px) {
    .cmp-promo--featured-primary-horizontal>a {
        height:auto!important;
        max-height: 148px!important
    }
}

.cmp-promo--featured-primary-horizontal>a .cmp-promo__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 8px
}

@media screen and (max-width: 767px) {
    .cmp-promo--featured-primary-horizontal>a .cmp-promo__content {
        padding-top:0
    }
}

.cmp-promo--featured-primary-horizontal>a .cmp-promo__content__title {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
    color: #000
}

.cmp-promo--featured-primary-horizontal>a .cmp-promo__content__title.dot-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden
}

@media screen and (max-width: 767px) {
    .cmp-promo--featured-primary-horizontal>a .cmp-promo__content__title {
        margin-bottom:24px
    }

    .cmp-promo--featured-primary-horizontal>a .cmp-promo__content__title.dot-ellipsis {
        -webkit-line-clamp: 2
    }
}

.cmp-promo--featured-primary-horizontal>a .cmp-promo__content__desc {
    color: #53565a;
    font-size: .875em;
    line-height: 1.42858
}

.cmp-promo--featured-primary-horizontal>a .cmp-promo__content__desc.dot-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-left: 0
}

.cmp-promo--featured-primary-horizontal>a .cmp-promo__image {
    line-height: 0
}

.cmp-promo--featured-primary-horizontal>a .cmp-promo__image img {
    max-height: 148px;
    aspect-ratio: 4/3;
    object-fit: cover;
    transition: transform .3s linear;
    overflow: hidden;
    border-radius: 8px
}

@media screen and (max-width: 767px) {
    .cmp-promo--featured-primary-horizontal>a .cmp-promo__image img {
        max-height:none;
        aspect-ratio: 4/3
    }
}

.cmp-promo--featured-primary-horizontal>a:hover .cmp-promo__content__title {
    text-decoration: underline
}

.cmp-promo--featured-primary-horizontal>a:hover .cmp-promo__image img:not(.cmp-co-branding-img) {
    transform: scale(1.1)
}

.cmp-promo--featured-primary-horizontal--additional-labels>a {
    max-height: unset!important
}

.cmp-promo--featured-primary-horizontal--additional-labels>a:hover .cmp-promo__content__title {
    text-decoration: none
}

.cmp-promo--featured-primary-horizontal--additional-labels>a .cmp-promo__content__title {
    font-size: 1.125em;
    line-height: 26px
}

@media screen and (max-width: 767px) {
    .cmp-promo--featured-primary-horizontal--additional-labels>a .cmp-promo__content__title {
        margin-bottom:24px
    }
}

.cmp-promo--featured-primary-horizontal--additional-labels>a .cmp-promo__content__desc {
    line-height: 20px;
    margin-bottom: 24px;
    color: #63666a
}

.cmp-promo--featured-primary-horizontal--additional-labels>a .cmp-promo__content__additional-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.cmp-promo--featured-primary-horizontal--additional-labels>a .cmp-promo__content__additional-labels span {
    font-size: .875em;
    line-height: 20px;
    color: #63666a
}

.cmp-promo--featured-primary-horizontal--additional-labels>a .cmp-promo__content__additional-labels span.bold {
    font-weight: var(--font-weight-bold);
    color: #000
}

.cmp-promo--featured-primary-horizontal--additional-labels>a .cmp-promo__content__additional-labels span:nth-child(2) {
    display: flex;
    gap: 8px;
    align-items: center
}

.cmp-promo--featured-primary-horizontal--additional-labels>a .cmp-promo__content__additional-labels span:nth-child(2):before {
    content: "";
    background: #707070;
    width: 1px;
    height: 12px
}

.cmp-promo--landing-card {
    padding: 0;
    flex: 1
}

@media screen and (max-width: 767px) {
    .cmp-promo--landing-card {
        flex:1 0 85%
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-promo--landing-card {
        flex:1 0 45%
    }
}

.cmp-promo--landing-card .cmp-promo {
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.cmp-promo--landing-card .cmp-promo__image {
    margin-bottom: 16px;
    object-fit: cover
}

.cmp-promo--landing-card .cmp-promo__image img {
    width: 100%!important;
    height: auto!important
}

.cmp-promo--landing-card .cmp-promo__content {
    margin-inline-start:4px}

.cmp-promo--landing-card .cmp-promo__content__title {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 16px;
    color: #000
}

.cmp-promo--landing-card .cmp-promo__content__desc {
    font-size: .875em;
    margin-bottom: 16px;
    color: #75787b
}

.cmp-promo--landing-card .cmp-promo__content__link-label {
    font-size: 1em;
    font-weight: var(--font-weight-bold);
    color: #007cb0
}

.cmp-promo--landing-card .cmp-promo__content__link-label span:hover {
    text-decoration: underline
}

.cmp-promo--landing-card .cmp-promo__content__link-label-with-arrow span {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s ease;
    display: inline
}

.cmp-promo--landing-card .cmp-promo__content__link-label-with-arrow span:hover {
    text-decoration: none
}

.cmp-promo--landing-card .cmp-promo__content__link-label-with-arrow span:hover:not(.cmp-btn__rounded a,.cmp-profile-promo__email a,.cmp-profile-promo__phone a,.cmp-mosaic-grid__download--link a) {
    background-size: 100% 1px
}

.cmp-promo--landing-card .cmp-promo__content__link-label-with-arrow span:after {
    content: "\e899";
    font-family: Dcom-EDE;
    display: inline-block;
    margin-left: 8px;
    font-weight: 400;
    font-size: 18px
}

.cmp-promo--landing-card .cmp-promo-tracking[target=_blank] .cmp-promo__content__link-label-with-arrow span:after,.cmp-promo--landing-card .cmp-promo-tracking[target=_blank] .cmp-promo__content__link-label span:after {
    content: "\f08e";
    font-family: Dcom-EDE;
    display: inline-block;
    margin-left: 8px;
    font-weight: 400;
    font-size: 18px
}

.cmp-promo--landing-card-with-box {
    padding: 24px;
    border: 1px solid #ededed;
    box-shadow: 0 3px 16px #00000012
}

@media screen and (max-width: 767px) {
    .cmp-promo--landing-card-with-box {
        padding:24px
    }
}

.cmp-promo__services {
    padding: 32px 32px 32px 48px!important;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    padding-inline-start:48px!important;padding-inline-end:32px!important}

.cmp-promo__services:hover .cmp-promo__content__title span {
    text-decoration: underline
}

.cmp-promo__services .cmp-promo-tracking {
    display: block
}

.cmp-promo__services .cmp-promo-tracking:before {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: ""
}

.cmp-promo__services .cmp-promo-tracking:hover .cmp-promo__content__details span {
    text-decoration: underline
}

.cmp-promo__services .cmp-promo__image img {
    aspect-ratio: auto;
    max-height: 32px;
    width: auto!important
}

.cmp-promo__services .cmp-promo__content__title {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    min-height: 58px
}

.cmp-promo__services .cmp-promo__content__title.dot-lines-2 {
    margin: 0;
    width: 60%
}

.cmp-promo__services .cmp-promo__content__logo {
    max-height: 35px
}

.cmp-promo__services .cmp-promo__content__desc {
    font-size: 1em;
    line-height: 1.5em;
    margin: 16px 0 32px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    min-height: 10.5em;
    overflow: hidden
}

@media screen and (max-width: 767px) {
    .cmp-promo__services .cmp-promo__content__desc {
        display:block;
        -webkit-line-clamp: unset
    }
}

.cmp-promo__services .cmp-promo__content__desc:has(ul,ol) ul,.cmp-promo__services .cmp-promo__content__desc:has(ul,ol) ol {
    list-style-type: revert;
    padding-left: 24px
}

.cmp-promo__services .cmp-promo__content__details {
    color: #007cb0
}

.cmp-promo__services .cmp-promo__content__details a:hover {
    text-decoration: underline
}

.cmp-promo__services .cmp-promo__content__details i {
    margin-left: 8px
}

.cmp-promo__services .cmp-promo__content__details a,.cmp-promo__services .cmp-promo__content__details span,.cmp-promo__services .cmp-promo__content__details span:after {
    font-weight: var(--font-weight-bold)!important;
    direction: ltr
}

.cmp-promo__services .button-container a:before {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: ""
}

.cmp-promo__services--clickable-card {
    position: relative;
    padding: 40px 40px 40px 48px!important;
    min-height: 290px!important
}

.cmp-promo__services--clickable-card .cmp-promo__content__desc {
    margin: 24px 0
}

.cmp-promo__services--clickable-card .button-container a:before {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: ""
}

.cmp-promo__services .cmp-promo__content .link-arrow-right a[target=_blank]:after {
    content: "\f08e";
    font-family: Dcom-EDE!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    font-size: 1em;
    color: #007cb0
}

.cmp-promo__services .cmp-promo-tracking[target=_blank] .cmp-promo__content .link-arrow-right span:after {
    content: "\f08e";
    font-family: Dcom-EDE!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    font-size: 1em;
    color: #007cb0
}

@media screen and (max-width: 767px) {
    .cmp-promo__services--beyond-alliance-margin .cmp-promo__content__desc {
        margin:24px 0!important
    }
}

.cmp-promo__services:not(.cmp-promo__services-without-desc) {
    min-height: 284px
}

@media screen and (max-width: 767px) {
    .cmp-promo__services:not(.cmp-promo__services-without-desc) {
        width:auto!important
    }
}

.cmp-promo__services:before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    transition: border .3s ease-out
}

.cmp-promo__services:hover:before {
    border-inline-start-width:20px}

.cmp-promo__services-without-desc {
    background-color: #fff;
    padding: 24px!important
}

.cmp-promo__services-without-desc .cmp-promo__content__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    min-height: 48px;
    font-size: 1.25em;
    color: #000;
    font-weight: 400
}

.cmp-promo__services-without-desc .cmp-promo__content__title span.dot-lines-2 {
    margin: 0
}

.cmp-promo__services-without-desc .cmp-promo__content__title:after {
    content: "\e899";
    font-family: Dcom-EDE!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    font-size: 1.5em;
    color: #007cb0
}

.cmp-promo__services-without-desc .cmp-promo__content__details a:hover {
    text-decoration: underline
}

.cmp-promo__services-without-desc .cmp-promo__image .cmp-co-branding-association-text {
    color: #000
}

.cmp-promo__services-without-desc a[target=_blank] .cmp-promo__content__title:after {
    content: "\f08e";
    font-family: Dcom-EDE!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    font-size: 1em;
    color: #007cb0
}

.cmp-promo__services:before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    transition: border .25s ease-in-out
}

.cmp-promo__services:hover:before {
    border-left-width: 20px
}

.cmp-promo__services--deloitte-green:before {
    border-inline-start:8px solid #86bc25}

.cmp-promo__services--deloitte-accessible-green:before {
    border-inline-start:8px solid #26890d}

.cmp-promo__services--deloitte-blue10:before {
    border-inline-start:8px solid #1076a8}

.cmp-promo__services--deloitte-teal3:before {
    border-inline-start:8px solid #6fc2b4}

.cmp-promo__services--deloitte-teal5:before {
    border-inline-start:8px solid #0097a9}

.cmp-promo__services--deloitte-teal8:before {
    border-inline-start:8px solid #0d8390}

.cmp-promo__services--deloitte-green2:before {
    border-inline-start:8px solid #c4d600}

.cmp-promo__services--deloitte-blue6:before {
    border-inline-start:8px solid #012169}

.cmp-promo--standard-primary {
    padding: 16px!important
}

.cmp-promo--standard-primary .cmp-promo {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

@media screen and (max-width: 767px) {
    .cmp-promo--standard-primary .cmp-promo {
        height:auto!important
    }
}

@media screen and (min-width: 1201px) {
    .cmp-promo--standard-primary .cmp-promo {
        height:auto!important
    }
}

.cmp-promo--standard-primary .cmp-promo__type {
    margin-bottom: 8px
}

.cmp-promo--standard-primary .cmp-promo__type span {
    font-size: .875em;
    color: #fff;
    background: #000;
    padding: 3px 10px;
    display: inline-block
}

.cmp-promo--standard-primary .cmp-promo__content__title {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.375;
    margin-bottom: 0;
    color: #000
}

.cmp-promo--standard-primary .cmp-promo__content__title.dot-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.cmp-promo--standard-primary .cmp-promo__content__title.dot-ellipsis:not([class*="dot-lines-"]) {
    -webkit-line-clamp: 3
}

@media screen and (max-width: 767px) {
    .cmp-promo--standard-primary .cmp-promo__content__title {
        font-size:1.125em
    }
}

.cmp-promo--standard-primary .cmp-promo__content__primary-author {
    font-size: .875em;
    font-weight: 700;
    color: #53565a
}

.cmp-promo--standard-primary .cmp-promo__content__primary-author__preposition {
    font-weight: var(--font-weight-bold)
}

.cmp-promo--standard-primary .cmp-promo__content__desc {
    color: #53565a;
    font-size: 1em;
    line-height: 1.375em;
    margin: 24px 0 40px
}

.cmp-promo--standard-primary .cmp-promo__content__desc.dot-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.cmp-promo--standard-primary .cmp-promo__content__desc.dot-ellipsis:not([class*="dot-lines-"]) {
    -webkit-line-clamp: 3
}

.cmp-promo--standard-primary .cmp-promo__location__date,.cmp-promo--standard-primary .cmp-promo__content-type__read-time {
    display: flex;
    align-items: center;
    font-size: .875em;
    color: #53565a
}

.cmp-promo--standard-primary .cmp-promo__content__type {
    color: #000;
    font-weight: var(--font-weight-bold)
}

.cmp-promo--standard-primary .cmp-promo-divider {
    height: 12px;
    margin: 0 8px;
    width: 1px;
    background-color: #53565a
}

.cmp-promo--standard-primary a:hover .cmp-promo__content__title {
    text-decoration: underline
}

.boldHoverNoWidthChange {
    font-weight: 400!important;
    -webkit-text-stroke-width: .55px;
    -webkit-text-stroke-color: currentColor
}

.cmp-promo--standard {
    max-width: 335px;
    padding: 20px 24px 20px 16px;
    border-top: 5px solid #000;
    background: #fff
}

.cmp-promo--standard .cmp-promo__content__publish {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: .9em;
    font-weight: var(--font-weight-bold)
}

.cmp-promo--standard .cmp-promo__content__publish * {
    font-weight: var(--font-weight-bold)
}

.cmp-promo--standard .cmp-promo__content__publish-date {
    margin-right: 12px;
    float: left;
    color: #000
}

.cmp-promo--standard .cmp-promo__content__primary-author {
    margin-left: 12px;
    display: inline;
    color: #000;
    font-size: .875em;
    border-left: 1px solid #53565a;
    padding-left: 10px
}
