.boldHoverNoWidthChange {
    font-weight: 400!important;
    -webkit-text-stroke-width: .55px;
    -webkit-text-stroke-color: currentColor
}

@keyframes animateStickyBar {
    0% {
        transform: translateY(-100%)
    }

    to {
        transform: translate(0)
    }
}

.cmp-container.cmp-sticky-bar {
    position: relative
}

.cmp-container.cmp-sticky-bar .cmp-sticky-bar__inner {
    height: 88px;
    position: relative
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar .cmp-sticky-bar__inner {
        height:50px
    }
}

.cmp-container.cmp-sticky-bar .cmp-container__row {
    align-items: center
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar .cmp-container__row {
        align-items:normal
    }
}

.cmp-container.cmp-sticky-bar .cmp-container__row .cmp-co-branding-img {
    max-height: 30px
}

.cmp-container.cmp-sticky-bar div {
    background-color: inherit;
    color: inherit
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--inline-top {
    position: sticky;
    top: 0;
    z-index: 2002
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--inline-top .cmp-sticky-bar__inner {
    z-index: auto;
    background-color: #fff;
    top: 0;
    height: 88px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: inherit;
    padding: 0;
    position: static;
    width: 100%
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--inline-top .cmp-sticky-bar__inner {
        height:50px
    }
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--title .cmp-sticky-bar__inner {
    max-width: 1512px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    padding: 0 56px!important;
    box-sizing: border-box;
    float: none!important
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--title .cmp-sticky-bar__inner {
        padding:0 24px!important
    }
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--homepage .cmp-sticky-bar__inner {
    justify-content: flex-start;
    padding: 0 16px;
    margin: 0 auto;
    border: 0;
    height: 48px
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--homepage .cmp-title {
    font-size: 1.125em
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--top .cmp-sticky-bar__inner {
    top: 0;
    transform: translateY(-100%)
}

body.isEditMode .cmp-container.cmp-sticky-bar.cmp-sticky-bar--top .cmp-sticky-bar__inner {
    transform: translate(0)
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--top--sticky-scroll .cmp-sticky-bar__inner {
    position: relative;
    transform: none
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--top--sticky-scroll .cmp-container__row:first-child {
    display: flex;
    align-items: center;
    width: 100%
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--bottom .cmp-sticky-bar__inner {
    bottom: 0;
    transform: translateY(100%)
}

.cmp-container.cmp-sticky-bar.is-sticky .cmp-sticky-bar__inner {
    transform: translate(0);
    z-index: 2002;
    transition: .5s ease .1s
}

.cmp-container.cmp-sticky-bar .cmp-sticky-bar__breaker {
    display: none
}

.cmp-container.cmp-sticky-bar .cmp-sticky-bar__inner {
    will-change: transform;
    transition: .5s ease .1s;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2000;
    border-bottom: 1px solid #d0d0ce
}

body.isEditMode .cmp-container.cmp-sticky-bar .cmp-sticky-bar__inner {
    position: static
}

.cmp-container.cmp-sticky-bar .cmp-sticky-bar__inner:has(a:focus) {
    transform: translate(0)!important;
    z-index: 2002!important
}

.cmp-container.cmp-sticky-bar .cmp-sticky-bar__left {
    flex: 1 1 100%!important;
    width: auto!important;
    height: 88px;
    display: flex;
    align-items: center;
    float: none!important;
    padding-inline-start:32px}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar .cmp-sticky-bar__left {
        height:50px
    }
}

body.isEditMode .cmp-container.cmp-sticky-bar .cmp-sticky-bar__left {
    width: 33%!important;
    float: left!important
}

.cmp-container.cmp-sticky-bar .cmp-sticky-bar__middle,.cmp-container.cmp-sticky-bar .cmp-sticky-bar__right {
    justify-content: flex-end;
    height: 88px;
    display: flex;
    align-items: center;
    float: none!important;
    padding-inline-end:56px}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar .cmp-sticky-bar__middle,.cmp-container.cmp-sticky-bar .cmp-sticky-bar__right {
        height:50px
    }
}

body.isEditMode .cmp-container.cmp-sticky-bar .cmp-sticky-bar__middle,body.isEditMode .cmp-container.cmp-sticky-bar .cmp-sticky-bar__right {
    width: 33%!important;
    float: left!important
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-small-title {
    font-size: 1.5em;
    font-weight: var(--font-weight-regular)
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-btn {
    width: unset;
    white-space: nowrap
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__left,.cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__middle {
        height:48px;
        float: initial;
        padding-left: 24px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__middle {
        padding-right: 28px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__right {
        display: none
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-container__row {
        flex-wrap: nowrap
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-share-bar__container {
        justify-content: flex-end
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-small-title {
        font-size: .875em
    }
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .display-flex {
        flex-direction:row;
        flex-wrap: wrap
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-small-title {
        display: flex
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__left {
        height: 76px;
        padding-left: 32px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__middle,.cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__right {
        width: fit-content;
        height: 68px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__middle {
        padding-left: 32px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__right {
        margin-left: auto;
        padding-right: 28px
    }
}

@media screen and (min-width: 1201px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__left,.cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__middle,.cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__right {
        height:88px;
        padding-inline-start:64px}

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__middle,.cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__right {
        width: fit-content
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__middle {
        padding: 0
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__products .cmp-sticky-bar__right {
        padding-inline-start:40px;padding-inline-end:64px}
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar-with-logo .cmp-sticky-bar__logo {
    padding: 0;
    padding-inline-start:56px;display: flex;
    justify-content: center;
    align-items: center;
    width: auto!important
}

body.isEditMode .cmp-container.cmp-sticky-bar.cmp-sticky-bar-with-logo .cmp-sticky-bar__logo {
    width: 30%!important
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar-with-logo .cmp-co-branding.cmp-co-branding__merge {
    display: flex;
    align-items: center
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar-with-logo .cmp-co-branding.cmp-co-branding__merge .cmp-co-branding-img {
    margin: 0;
    width: auto
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--storytelling .cmp-container__row {
    flex-wrap: nowrap
}

@media screen and (max-width: 1200px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--storytelling .cmp-sticky-bar__logo {
        display:flex;
        padding: 0 0 0 16px;
        width: auto
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--storytelling .cmp-sticky-bar__left {
        padding: 0 0 0 24px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--storytelling .cmp-sticky-bar__right {
        padding: 0 24px 0 8px;
        width: auto
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--storytelling .cmp-small-title__type {
        display: flex
    }
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--storytelling .cmp-share-bar__native-share {
        border:0!important;
        display: flex!important;
        margin-right: 0;
        padding-right: 0
    }
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar__title--full-width--devices .cmp-container__row:nth-child(2) {
    display: none
}

@media screen and (max-width: 1200px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__title--full-width--devices .cmp-container__row:nth-child(2) {
        display:block
    }
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events.cmp-sticky-bar-with-logo .cmp-sticky-bar__right {
        position:absolute;
        top: 0;
        right: 0;
        width: auto;
        height: 100%
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events.cmp-sticky-bar-with-logo .cmp-sticky-bar__left {
        padding-right: 24px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events.cmp-sticky-bar-with-logo .cmp-container__row {
        flex-direction: column
    }
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner {
    display: flex;
    height: 88px;
    align-items: center;
    flex-wrap: wrap
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-container__row .button .events-sticky-bar-btn {
    justify-content: flex-end;
    padding-inline-end:42px}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner {
        height:50px!important
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__left {
        z-index: 1;
        padding-left: 24px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__right {
        padding-right: 24px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-container__row {
        flex-wrap: nowrap
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__logo {
        justify-content: unset;
        padding-left: 24px;
        margin-bottom: 4px;
        margin-top: 4px;
        flex-shrink: 0;
        width: fit-content
    }
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner {
        height:160px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-container__row {
        flex-wrap: wrap
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__inner {
        padding: 14px 24px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__breaker {
        flex-basis: 100%;
        height: 0;
        display: flex
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__logo {
        padding-left: 32px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__left {
        flex: 1!important
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__right {
        flex: 1;
        width: 100%;
        justify-content: space-between;
        padding-left: 24px;
        padding-top: 24px!important
    }
}

@media screen and (min-width: 1201px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__inner {
        padding:14px 24px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__right {
        flex-wrap: nowrap;
        width: inherit
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .cmp-sticky-bar__right.socialshare {
        padding-inline-end:4px}
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__inner .register-container {
        display:none!important
    }
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__left {
    height: auto
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-small-title {
    display: flex;
    flex-direction: column
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-small-title .cmp-small-date__text {
    font-size: 14px;
    line-height: 19px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    white-space: normal;
    width: auto!important
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-small-title .cmp-small-title__text {
    font-size: 24px;
    line-height: 28px;
    font-weight: var(--font-weight-regular);
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    white-space: break-spaces;
    padding-bottom: 4px;
    width: auto!important
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-small-title .cmp-small-title__text {
        font-size:14px;
        line-height: 19px;
        font-weight: 400
    }
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-small-title .cmp-date-separator:after {
    content: "|"
}

.cmp-container.cmp-sticky-bar .cmp-link-list-v3--quicklinks {
    width: auto
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .co-branding-container {
    padding-left: 56px
}

@media screen and (max-width: 1200px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .co-branding-container {
        padding-left:32px
    }
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .co-branding-container {
        padding-left:24px;
        padding-top: 16px
    }
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .cmp-sticky-bar__inner .register-container {
        padding-top:8px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .cmp-sticky-bar__inner .cmp-sticky-bar__right.socialshare {
        padding-top: 12px!important
    }
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .cmp-sticky-bar__inner .share-container {
        position:absolute;
        top: 0;
        right: 0
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .cmp-sticky-bar__inner .cmp-container__row {
        flex-wrap: wrap
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .cmp-sticky-bar__inner .cmp-sticky-bar__right {
        padding-right: 0!important
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding .cmp-sticky-bar__inner .title-date-container {
        padding-bottom: 12px
    }
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)) .cmp-container__row {
    flex-wrap: initial
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)) .co-branding-container {
    display: none
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)) .title-date-container {
    flex: 1 1 100%!important;
    width: auto!important;
    display: flex;
    padding-left: 42px
}

.cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)) .share-container {
    position: relative;
    top: unset;
    right: unset
}

@media screen and (max-width: 1200px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)) .title-date-container {
        padding-left:32px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)) .cmp-container__row {
        flex-wrap: wrap
    }
}

@media screen and (max-width: 767px) {
    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)) .cmp-container__row {
        flex-wrap:initial
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)) .title-date-container {
        padding-top: 16px;
        padding-left: 14px
    }

    .cmp-container.cmp-sticky-bar.cmp-sticky-bar__configurable-co-branding:not(:has(.cmp-co-branding-img)).cmp-container.cmp-sticky-bar.cmp-sticky-bar--events .cmp-sticky-bar__right {
        padding-right: 0!important
    }
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-sticky-bar__download.is-enabled {
        left:16px!important;
        transform: none!important
    }
}

.cmp-sticky-bar__with-download-button .cmp-sticky-bar__inner .cmp-container__row {
    justify-content: space-between;
    align-items: center;
    height: 88px
}

@media only screen and (max-width: 1399px) and (min-width: 768px) {
    .cmp-sticky-bar__with-download-button .cmp-sticky-bar__inner .cmp-container__row>div:first-child {
        width:58%
    }
}

@media screen and (max-width: 767px) {
    .cmp-sticky-bar__with-download-button .cmp-sticky-bar__inner .cmp-container__row div:nth-child(3) {
        display:none
    }
}

.cmp-sticky-bar .cmp-small-title {
    line-height: 28px
}

.cmp-sticky-bar .cmp-small-title__type {
    font-weight: var(--font-weight-bold)
}

.cmp-sticky-bar--opt-1 .cmp-container__row:first-child {
    column-gap: 16px;
    flex-wrap: nowrap!important
}

@media screen and (max-width: 767px) {
    .cmp-sticky-bar--opt-1 .cmp-container__row:first-child {
        gap:24px
    }
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    .cmp-sticky-bar--opt-1 .cmp-container__row:first-child {
        flex-wrap:wrap!important
    }
}

.cmp-sticky-bar--opt-1 .cmp-container__row:first-child:before,.cmp-sticky-bar--opt-1 .cmp-container__row:first-child:after {
    display: none
}

.cmp-sticky-bar--opt-1 .cmp-container__row:first-child .cmp-container__column-left {
    flex: 1 1 auto;
    padding-right: 0
}

.cmp-sticky-bar--opt-1 .cmp-container__row:first-child .cmp-container__column-right {
    flex: 0 0 auto
}

.cmp-sticky-bar--opt-1 .cmp-small-title__type {
    padding-right: 8px
}

@media screen and (max-width: 767px) {
    .cmp-sticky-bar--opt-1 .cmp-small-title__type {
        display:block
    }
}

.cmp-sticky-bar--opt-1 .cmp-small-title__text {
    width: 100%!important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    white-space: normal
}

.cmp-sticky-bar--opt-1 .cmp-btn--clone {
    transform: none;
    max-width: initial;
    padding: 0
}

@media screen and (min-width: 768px) {
    .cmp-sticky-bar--opt-1 .cmp-btn--clone {
        flex:0 0 auto
    }
}

.cmp-sticky-bar--opt-1 .cmp-btn--clone>.button-container {
    box-shadow: none
}

@media only screen and (min-width: 768px) and (max-width:1399px) {
    .cmp-sticky-bar--opt-1 .cmp-share-bar__download-link-text,.cmp-sticky-bar--opt-1 .cmp-share-bar__print-link-text,.cmp-sticky-bar--opt-1 .cmp-share-bar__save-link-text {
        display:none
    }
}

.cmp-sticky-bar--opt-1 .cmp-sticky-bar__left,.cmp-sticky-bar--opt-1 .cmp-sticky-bar__right {
    padding: 0!important;
    height: unset!important
}

.cmp-sticky-bar--opt-1 .cmp-sticky-bar__right {
    justify-content: flex-start!important
}

.cmp-sticky-bar--opt-1 .cmp-sticky-bar__left {
    display: block!important
}

.cmp-sticky-bar--opt-1 .cmp-share-bar__item {
    padding: 0!important
}

body:not(.isEditMode) .cmp-sticky-bar--opt-1 .cmp-container__column-left,body:not(.isEditMode) .cmp-sticky-bar--opt-1 .cmp-container__column-right {
    width: auto!important
}

@media screen and (min-width: 768px) and (max-width:1200px) {
    body:not(.isEditMode) .cmp-sticky-bar--opt-1 .cmp-container__column-left,body:not(.isEditMode) .cmp-sticky-bar--opt-1 .cmp-container__column-right {
        width:100%!important
    }
}

.cmp-share-bar.cmp-share-bar_default-no-save .cmp-share_item-border,.cmp-share-bar.cmp-share-bar_default-no-save .cmp-share-bar_list-second-item {
    display: none
}

.cmp-share-bar--no-border .cmp-share-bar__menu {
    border: none!important
}

.cmp-share-bar--no-border .cmp-share-bar__links:focus {
    outline: none!important
}

.cmp-share-bar__list {
    padding-top: 3px
}

.cmp-share-bar__menu {
    position: absolute;
    box-shadow: 0 3px 6px #00000029;
    padding: 13px 0 0 9px;
    z-index: 1;
    background-color: #fff;
    text-align: left;
    top: 50px;
    display: none;
    left: -65px;
    width: 180px;
    list-style-type: none
}

.cmp-share-bar__menu .cmp-share-bar__links {
    text-align: center;
    height: 28px;
    width: 28px;
    font-size: 12px;
    color: #fff
}

.cmp-share-bar__menu.cmp-share-bar_menu-slide {
    min-width: 17rem;
    border: 1px solid #75787b;
    border-radius: 30px;
    left: -229px;
    display: none!important;
    opacity: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 15px;
    box-shadow: none
}

.cmp-share-bar__menu.cmp-share-bar_menu-slide.slide-in {
    display: flex!important;
    top: 0
}

.cmp-share-bar__btn-label {
    display: table;
    text-align: center;
    position: relative;
    min-width: 17rem;
    z-index: 9999;
    cursor: pointer
}

.cmp-share-bar__btn-label:focus {
    outline-style: dashed;
    outline-color: #a7a8aa
}

.cmp-share-bar__btn-label:focus .cmp-share-bar_menu-slide-label {
    display: block
}

.cmp-share-bar__btn-label span {
    padding-left: 4px;
    display: block
}

.cmp-share-bar__btn-label:hover .cmp-share-bar_menu-slide-label {
    display: block
}

.cmp-share-bar__btn-label-text {
    text-align: left;
    font-size: .775em;
    display: table
}

.cmp-share-bar__item-menu {
    display: flex
}

.cmp-share-bar__slide-right .share-bar__menu-slide {
    left: 0
}

.cmp-share-bar__menu-slide {
    display: block;
    opacity: 0;
    outline: none;
    z-index: -1
}

.cmp-share-bar__menu-slide .cmp-share-bar .cmp-share-bar_links-save-active {
    background-color: #00abab;
    color: #fff
}

.cmp-share-bar__container {
    display: flex;
    position: relative
}

.cmp-share-bar__item {
    display: inline-flex;
    align-items: center;
    margin: 0 23px 0 0;
    list-style-position: inside;
    text-align: center;
    position: relative
}

.cmp-share-bar__item.cmp-share_item-border {
    padding-left: 16px;
    position: relative;
    margin: 0 4px 0 0;
    cursor: pointer
}

.cmp-share-bar__item.cmp-share_item-border:before {
    content: "";
    width: 1px;
    left: 0;
    position: absolute;
    height: 40px;
    background-color: #bbbcbc
}

.cmp-share-bar__item.cmp-share_item-border:focus {
    outline-style: dashed;
    outline-color: #a7a8aa
}

.cmp-share-bar__item.cmp-share-bar_item-tooltip {
    position: relative
}

.cmp-share-bar__item--socials {
    position: relative;
    padding-right: 72px
}

.cmp-share-bar__item--socials:hover .cmp-share-bar__links-label {
    color: #fff
}

.cmp-share-bar__item--socials .cmp-share-bar__links-label {
    position: absolute;
    left: 52px;
    font-size: .775em;
    font-family: Open Sans,Verdana,Helvetica,sans-serif
}

.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__container {
    float: right
}

.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__item .cmp-share-bar__links {
    border: 1.5px solid #fff;
    cursor: pointer;
    color: #fff
}

.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__item .cmp-share-bar__links.icon-download-alt:hover,.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__item .cmp-share-bar__links.icon-share-alt-o:hover {
    background-color: #fff;
    color: #000;
    opacity: 1
}

.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__item .cmp-share-bar__btn-label-text {
    color: #fff
}

.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__item .cmp-share-bar__menu.cmp-share-bar_menu-slide {
    min-width: 0;
    width: auto;
    left: auto;
    top: 0;
    right: calc(100% - 44px);
    padding: 7px
}

.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__item .cmp-share-bar__menu.cmp-share-bar_menu-slide.slide-in {
    background-color: #53565a
}

.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__item .cmp-share-bar__icons-close:before {
    width: 12px
}

.cmp-share-bar.cmp-share-bar_links-light .cmp-share-bar__item .cmp-share-bar__icons-close:after {
    width: 12px
}

.cmp-share-bar__links-text {
    font-size: .75em;
    font-weight: 700;
    color: #000;
    display: block;
    padding-top: 2px;
    padding-left: 4px
}

.cmp-share-bar__menu-link {
    display: flex;
    width: 100%
}

.cmp-share-bar__menu-link.cmp-share-bar_menu-copy-link {
    cursor: pointer
}

.cmp-share-bar__menu-item {
    margin: 0;
    position: relative
}

.cmp-share-bar__save-link-text,.cmp-share-bar__print-link-text,.cmp-share-bar__download-link-text {
    line-height: 19px;
    color: #000;
    font-size: 14px;
    padding-inline-start:8px;font-weight: var(--font-weight-bold);
    display: table-cell
}

.cmp-share-bar__print-link:hover {
    text-decoration: underline
}

.cmp-share-bar__links-save,.cmp-share-bar__print-link,.cmp-share-bar__download-link {
    display: flex
}

.cmp-share-bar .cmp-share-bar__item.cmp-share-bar__menu-item-mobile-show {
    display: none
}

.cmp-share-bar.cmp-share-bar_slide-label .slide-in {
    z-index: 1;
    -webkit-animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both;
    animation: slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both
}

.cmp-share-bar.cmp-share-bar_slide-label .slide-in-right-reverse {
    -webkit-animation: slide-in-left-reverse .3s cubic-bezier(.25,.46,.45,.94) reverse both;
    animation: slide-in-left-reverse .3s cubic-bezier(.25,.46,.45,.94) reverse both
}

.slide-in {
    -webkit-animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both;
    z-index: 1;
    animation: slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both
}

.slide-in-right-reverse {
    -webkit-animation: slide-in-right-reverse .3s cubic-bezier(.25,.46,.45,.94) reverse both;
    animation: slide-in-right-reverse .3s cubic-bezier(.25,.46,.45,.94) reverse both
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translate(50px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translate(50px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-in-right-reverse {
    0% {
        -webkit-transform: translateX(50px);
        transform: translate(50px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes slide-in-right-reverce {
    0% {
        -webkit-transform: translateX(50px);
        transform: translate(50px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translate(-50px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translate(-50px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-in-left-reverse {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translate(-50px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0);
        opacity: 1
    }
}

@keyframes slide-in-left-reverse {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translate(-50px);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translate(0);
        opacity: 1
    }
}

@media (prefers-color-scheme: dark) {
    .cmp-share-bar__dark-theme__links {
        background-color:#000!important
    }

    .cmp-share-bar__dark-theme__links.cmp-share-bar_icons-save {
        color: #fff;
        border-color: #fff
    }

    .cmp-share-bar__dark-theme__links.cmp-share-bar_icons-save:hover {
        background-color: #000;
        opacity: .7
    }
}

.cmp-share-bar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125em;
    transition: all .3s linear;
    -webkit-border-radius: 100%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 100%;
    -moz-background-clip: padding;
    border-radius: 100%;
    background-clip: padding-box;
    height: 40px;
    width: 40px
}

.cmp-share-bar__links:focus {
    outline-style: dashed;
    outline-color: #a7a8aa
}

.cmp-share-bar__links:hover {
    opacity: .7
}

.cmp-share-bar__links.icon-linkedin {
    color: #fff;
    background-color: #007bb6
}

.cmp-share-bar__links.icon-twitter {
    color: #fff;
    background-color: #000
}

.cmp-share-bar__links.icon-twitter:hover {
    background-color: #a1a2a3;
    color: #fff
}

.cmp-share-bar__links.icon-facebook {
    color: #fff;
    background-color: #3b5998
}

.cmp-share-bar__links.icon-whatsapp {
    color: #fff;
    background-color: #43d854
}

.cmp-share-bar__links.icon-pinterest {
    color: #fff;
    background-color: #cc2127
}

.cmp-share-bar__links.icon-weibo {
    color: #fff;
    background-color: #e6162d
}

.cmp-share-bar__links.icon-xing {
    color: #fff;
    background-color: #026466
}

.cmp-share-bar__links.icon-email {
    color: #fff;
    background-color: #00a3e0
}

.cmp-share-bar__links.icon-quick-link {
    color: #fff;
    background-color: #26890d
}

.cmp-share-bar__links.icon-bookmark-o {
    border: 1px solid #00abab;
    color: #00abab
}

.cmp-share-bar__links.icon-bookmark-o:hover,.cmp-share-bar__links.cmp-share-bar_links-save-active {
    background-color: #00abab;
    color: #fff
}

.cmp-share-bar__links.cmp-share-bar_links-dark {
    border: 1px solid #000;
    cursor: pointer;
    color: #000
}

.cmp-share-bar__links.cmp-share-bar_links-dark:hover {
    background-color: #000;
    color: #fff;
    opacity: 1
}

.cmp-share-bar__links.cmp-share-bar_links-light {
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff
}

.cmp-share-bar__links.cmp-share-bar_links-light:hover {
    background-color: #fff;
    color: #000;
    opacity: 1
}

.cmp-share-bar__links.cmp-share-bar_links-light+.cmp-share-bar__links-text {
    color: #fff
}

.cmp-share-bar__links.cmp-share-bar__links-save,.cmp-share-bar__links.cmp-share-bar_icons-save,.cmp-share-bar__links.cmp-share-bar_print-link {
    opacity: 1
}

.cmp-share-bar__links.cmp-share-bar_links-label {
    color: #000;
    display: flex;
    width: 100%;
    font-size: 1.625em
}

.cmp-share-bar__icons-close {
    cursor: pointer
}

.cmp-share-bar__icons-close:before {
    position: absolute;
    content: "";
    width: 22px;
    transform: rotate(50deg);
    height: 1px;
    left: 9px;
    background-color: #d0d0ce
}

.cmp-share-bar__icons-close:after {
    position: absolute;
    content: "";
    width: 22px;
    left: 9px;
    transform: rotate(130deg);
    height: 1px;
    background-color: #d0d0ce
}

.cmp-share-bar__icons-label {
    font-size: 1.2em;
    padding-top: 3px
}

.custom--ioc-social-share.cmp-share-bar .cmp-share-bar__container {
    justify-content: center
}

.custom--ioc-social-share.cmp-share-bar .cmp-share-bar__container .cmp-share-bar__list {
    display: flex;
    gap: 16px
}

.custom--ioc-social-share.cmp-share-bar .cmp-share-bar__container .cmp-share-bar__list .cmp-share-bar__item {
    margin: 0
}

.cmp-share-bar__save-left {
    overflow: hidden
}

.cmp-share-bar__save-left>div {
    overflow: hidden
}

.cmp-share-bar__save-left .cmp-share-bar__container {
    align-items: center
}

.cmp-share-bar__save-left .cmp-share-bar__save-later,.cmp-share-bar__save-left .cmp-share-bar__print,.cmp-share-bar__save-left .cmp-share-bar__download,.cmp-share-bar__save-left .cmp-share-bar__native-share {
    display: flex;
    align-items: center;
    border-inline-end:1px solid;padding-inline-end:16px;margin-inline-end:16px;min-height: 32px
}

.cmp-share-bar__save-left .cmp-share-bar__links-save,.cmp-share-bar__save-left .cmp-share-bar__print-link,.cmp-share-bar__save-left .cmp-share-bar__download-link {
    align-items: center;
    color: #000;
    outline-offset: -1px
}

.cmp-share-bar__save-left .cmp-share-bar__print-link i,.cmp-share-bar__save-left .cmp-share-bar__download-link i {
    color: #000
}

.cmp-share-bar__save-left .cmp-share-bar__save-link-text,.cmp-share-bar__save-left .cmp-share-bar__print-link-text,.cmp-share-bar__save-left .cmp-share-bar__download-text {
    font-size: .875em;
    white-space: nowrap
}

.cmp-share-bar__save-left .cmp-share-bar__download-link-text:hover {
    text-decoration: underline
}

@media screen and (min-width: 1024px) {
    .cmp-share-bar__save-left .cmp-share-bar__label--hide {
        display:none
    }
}

@media screen and (max-width: 767px) {
    .cmp-share-bar__save-left .cmp-share-bar__label--mobile--hide {
        display:none
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-share-bar__save-left .cmp-share-bar__label--tablet--hide {
        display:none
    }
}

.cmp-share-bar__save-left .cmp-share-bar__list {
    margin: 0;
    list-style-type: none;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.cmp-share-bar__save-left .cmp-share-bar__list::-webkit-scrollbar {
    width: 0;
    height: 0
}

.cmp-share-bar__save-left .cmp-share-bar__list a:hover {
    opacity: .8
}

.cmp-share-bar__save-left .cmp-share-bar__list a:focus {
    outline-offset: 2px
}

.cmp-share-bar__save-left .cmp-share-bar__links {
    width: 32px;
    height: 32px;
    font-size: 1em
}

.cmp-share-bar__save-left .cmp-share-bar__links.cmp-share-bar_icons-save,.cmp-share-bar__save-left .cmp-share-bar__links.cmp-share-bar_icons-print,.cmp-share-bar__save-left .cmp-share-bar__links.cmp-share-bar_icons-download,.cmp-share-bar__save-left .cmp-share-bar__links.cmp-share-bar_icons-native-share {
    background: transparent;
    color: #000;
    border: none;
    padding: 0;
    width: auto
}

.cmp-share-bar__save-left .cmp-share-bar__links:visited {
    color: #fff
}

.cmp-share-bar__save-left .cmp-share-bar__item {
    display: unset;
    margin-right: 8px;
    padding: 3px 0
}

.cmp-share-bar__save-left .cmp-share-bar__item:last-child {
    margin-inline-end:0}

.cmp-share-bar__save-left .cmp-share-bar__native-share a,.cmp-share-bar__save-left .cmp-share-bar__print a,.cmp-share-bar__save-left .cmp-share-bar__download a {
    color: #000!important
}

button {
    border-width: thin
}

.button-circle button,.button-circle .button-container {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    background: transparent;
    width: 50px;
    height: 50px;
    font-size: 1.75em;
    line-height: 50px
}

.cmp-btn {
    background-color: transparent!important;
    width: 100%;
    display: flex
}

.cmp-btn button,.cmp-btn .button-container {
    border-radius: .18rem;
    padding: .52rem 1.3rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid transparent
}

.cmp-btn button a,.cmp-btn .button-container a {
    display: block;
    color: #000;
    text-decoration: none;
    white-space: normal
}

.cmp-btn button a:hover,.cmp-btn .button-container a:hover {
    opacity: .8
}

.cmp-btn__lg button,.cmp-btn__lg .button-container {
    font-size: 1.125em;
    padding: 1.1rem 1rem
}

.cmp-btn__md button,.cmp-btn__md .button-container {
    font-size: 1.125em
}

.cmp-btn__sm button,.cmp-btn__sm .button-container {
    font-size: .875em;
    padding: .29rem 3.3rem
}

.cmp-btn__rounded button,.cmp-btn__rounded .button-container {
    width: auto;
    border-radius: 6.25em;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__rounded.cmp-btn__rounded__sm button,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__sm button a,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container a {
    padding: .5em 2.5em;
    text-wrap: wrap
}

@media screen and (max-width: 375px) {
    .cmp-btn__rounded.cmp-btn__rounded__sm button a,.cmp-btn__rounded.cmp-btn__rounded__sm .button-container a {
        padding:.5em 1.5em
    }
}

.cmp-btn__rounded.cmp-btn__rounded__md button,.cmp-btn__rounded.cmp-btn__rounded__md .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__md button a,.cmp-btn__rounded.cmp-btn__rounded__md .button-container a {
    padding: .75em 2.5em
}

.cmp-btn__rounded.cmp-btn__rounded__lg button,.cmp-btn__rounded.cmp-btn__rounded__lg .button-container {
    padding: 0
}

.cmp-btn__rounded.cmp-btn__rounded__lg button a,.cmp-btn__rounded.cmp-btn__rounded__lg .button-container a {
    padding: 1em 2.5em
}

.cmp-btn__rounded.cmp-btn__rounded__bottom-right-0 .button-container {
    border-bottom-right-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__bottom-left-0 .button-container {
    border-bottom-left-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__top-right-0 .button-container {
    border-top-right-radius: 0
}

.cmp-btn__rounded.cmp-btn__rounded__top-left-0 .button-container {
    border-top-left-radius: 0
}

.cmp-btn__full-width .button-container {
    width: 100%
}

@media screen and (min-width: 1024px) {
    .cmp-btn__full-width--desktop .button-container {
        width:100%
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-btn__full-width--tablet .button-container {
        width:100%
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn__full-width--mobile .cmp-button__modal {
        width:inherit
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn__full-width--mobile .button-container {
        width:100%
    }
}

.cmp-btn:focus button,.cmp-btn:focus .button-container {
    outline-width: .5px;
    outline-style: dashed;
    outline-color: #bbbcbc
}

@media screen and (max-width: 767px) {
    .cmp-btn--fixed--bottom--mobile {
        display:none!important;
        position: fixed;
        bottom: 5px;
        left: 50%;
        transform: translate(calc(-50% - 40px),-50%);
        z-index: 2100;
        max-width: 235px;
        margin: 0!important;
        width: 100%!important
    }

    .cmp-btn--fixed--bottom--mobile .button-container {
        width: 100%
    }
}

@media screen and (max-width: 767px) {
    .cmp-btn--clone--full-width {
        transform:translate(-50%,-50%);
        max-width: 100%;
        padding: 0 24px;
        box-sizing: border-box
    }

    .cmp-btn--clone--full-width .button-container {
        box-shadow: 0 3px 6px #00000029
    }
}

.cmp-btn--clone--full-width>div {
    width: 100%
}

@media screen and (max-width: 767px) {
    .cmp-btn--clone--short-width {
        max-width:235px
    }
}

.cmp-btn--clone--short-width>div {
    width: 100%
}

.cmp-btn__secondary .button {
    background-color: transparent;
    border: 1px solid
}

.cmp-btn__link {
    width: auto
}

.cmp-btn__link .button-container {
    width: auto;
    padding: 0;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__link .button-container a {
    color: #007cb0;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none!important;
    z-index: 1
}

.cmp-btn__link .button-container a:before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 0;
    transition: width .3s ease,opacity .3s ease;
    border-bottom: 1px solid currentColor;
    display: flex;
    opacity: 0;
    z-index: -1
}

.cmp-btn__link .button-container a:active,.cmp-btn__link .button-container a:hover:before {
    width: 100%;
    opacity: 1
}

.cmp-btn__link .button-container a:hover {
    opacity: 1
}

.cmp-btn__link .button-container a:after {
    padding-top: 1px
}

.cmp-btn__icon a:not([target="_blank"]):after {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em
}

.cmp-btn__icon--left a:not([target="_blank"]):before {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em;
    padding-right: 4px
}

.cmp-btn__icon--arrow-right a:not([target="_blank"]):after {
    content: "\e899"
}

.cmp-btn__icon--download a:not([target="_blank"]):after,.cmp-btn__icon--download--left a:not([target="_blank"]):before {
    font-family: Dcom-EDE!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f019"
}

.cmp-btn__icon--left a:not([target="_blank"]) {
    flex-direction: row-reverse
}

.cmp-btn__icon--filled a:not([target="_blank"]):after {
    background: #1076a8;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1
}

.cmp-btn--width-auto {
    width: auto
}

@media screen and (max-width: 767px) {
    .cmp-btn--width-100--mobile,.cmp-btn--width-100--mobile .button-container {
        width:100%
    }
}

.button.cmp-btn__rounded .button-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.cmp-btn__download-popup {
    visibility: hidden;
    position: absolute;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 16px #00000029;
    border-radius: 8px;
    min-height: 0;
    max-height: 272px;
    opacity: 1;
    width: 300px;
    padding: 24px;
    top: 58px;
    left: 0;
    box-sizing: border-box;
    z-index: 2000;
    color: #707070;
    overflow: hidden;
    transform: translate(-50%) scaleY(0);
    transform-origin: top;
    transition: transform .5s ease-out,.5s visibility
}

.cmp-btn__download-popup a {
    color: #0076a8!important
}

.cmp-btn__download-popup.visible {
    visibility: visible;
    transform: translate(-50%) scaleY(1)
}

.cmp-btn__download-popup ul {
    max-height: 173px;
    overflow: auto
}

.cmp-btn__download-popup a:not([target="_blank"]):before {
    content: "";
    padding: 0
}

.cmp-btn__download-popup-item {
    display: flex;
    gap: 12px
}

.cmp-btn__download-popup-item:last-child {
    margin-bottom: 0
}

.cmp-btn__download-popup-item-link {
    font-size: 1em;
    line-height: 1.1875em;
    letter-spacing: 0;
    color: #0076a8!important;
    font-weight: var(--font-weight-bold)
}

.cmp-btn__download-popup-item-link:hover {
    text-decoration: underline
}

.cmp-btn__download-popup-item-link-size {
    font-size: .875em;
    color: #000;
    display: block;
    font-weight: 400
}

.cmp-btn__download-popup-item-link-size:hover {
    text-decoration: none
}

.cmp-btn__download-popup .button.cmp-btn {
    margin-top: 32px
}

.cmp-btn__download-popup .button.cmp-btn .button-container {
    flex-grow: 1
}

.cmp-btn__download-popup .button.cmp-btn .button-container a {
    padding: 8px 52px
}

.cmp-btn__icon--multi-downloads {
    position: relative
}

.cmp-btn__icon--multi-downloads .icon-chevron-down {
    display: inline-block;
    padding-left: 8px;
    transform-origin: center;
    transition: transform .3s ease-out
}

.cmp-btn__icon--multi-downloads .icon-chevron-down.up {
    padding-left: 0;
    padding-right: 8px;
    transform: rotate(180deg)
}

.cmp-share-bar__save-and-download {
    overflow: hidden
}

.cmp-share-bar__save-and-download>div {
    overflow: hidden
}

.cmp-share-bar__save-and-download .cmp-share-bar__container {
    align-items: center
}

.cmp-share-bar__save-and-download .cmp-share-bar__save-later,.cmp-share-bar__save-and-download .cmp-share-bar__download {
    display: flex;
    align-items: center;
    border-inline-end:1px solid;padding-inline-end:16px;margin-inline-end:16px;min-height: 32px
}

.cmp-share-bar__save-and-download .cmp-share-bar__download {
    border: 0
}

.cmp-share-bar__save-and-download .cmp-share-bar__links-save,.cmp-share-bar__save-and-download .cmp-share-bar__download-link {
    align-items: center;
    color: #000;
    outline-offset: -1px
}

.cmp-share-bar__save-and-download .cmp-share-bar__download-link i {
    color: #000
}

.cmp-share-bar__save-and-download .cmp-share-bar__save-link-text,.cmp-share-bar__save-and-download .cmp-share-bar__download-text {
    font-size: .875em;
    white-space: nowrap
}

.cmp-share-bar__save-and-download .cmp-share-bar__download-link-text:hover {
    text-decoration: underline
}

@media screen and (min-width: 1024px) {
    .cmp-share-bar__save-and-download .cmp-share-bar__label--hide {
        display:none
    }
}

@media screen and (max-width: 767px) {
    .cmp-share-bar__save-and-download .cmp-share-bar__label--mobile--hide {
        display:none
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-share-bar__save-and-download .cmp-share-bar__label--tablet--hide {
        display:none
    }
}

.cmp-share-bar__save-and-download .cmp-share-bar__list {
    margin: 0;
    list-style-type: none;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.cmp-share-bar__save-and-download .cmp-share-bar__list::-webkit-scrollbar {
    width: 0;
    height: 0
}

.cmp-share-bar__save-and-download .cmp-share-bar__list a:hover {
    opacity: .8
}

.cmp-share-bar__save-and-download .cmp-share-bar__list a:focus {
    outline-offset: 2px
}

.cmp-share-bar__save-and-download .cmp-share-bar__links {
    width: 32px;
    height: 32px;
    font-size: 1em
}

.cmp-share-bar__save-and-download .cmp-share-bar__links.cmp-share-bar_icons-save,.cmp-share-bar__save-and-download .cmp-share-bar__links.cmp-share-bar_icons-download {
    background: transparent;
    color: #000;
    border: none;
    padding: 0;
    width: auto
}

.cmp-share-bar__save-and-download .cmp-share-bar__links:visited {
    color: #fff
}

.cmp-share-bar__save-and-download .cmp-share-bar__item {
    display: unset;
    margin-right: 8px;
    padding: 3px 0
}

.cmp-share-bar__save-and-download .cmp-share-bar__item:last-child {
    margin-right: 0
}

.cmp-share-bar__save-and-download .cmp-share-bar__native-share a,.cmp-share-bar__save-and-download .cmp-share-bar__print a,.cmp-share-bar__save-and-download .cmp-share-bar__download a {
    color: #000!important
}

.cmp-share-bar__save-and-download .cmp-share-bar__download {
    margin-right: 0!important;
    padding-right: 0!important
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .cmp-share-bar__save-and-download .cmp-share-bar__download .cmp-share-bar__download-link-text {
        display:flex
    }
}

.cmp-title h1,.cmp-multi-line-title h1,.cmp-title h2,.cmp-multi-line-title h2,.cmp-title h3,.cmp-multi-line-title h3,.cmp-title h4,.cmp-multi-line-title h4,.cmp-title h5,.cmp-multi-line-title h5,.cmp-title h6,.cmp-multi-line-title h6 {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    background: inherit;
    display: inherit
}

.cmp-title--with-dot>*:after,.cmp-multi-line-title--with-dot>*:after {
    content: ".";
    color: #86bc25
}

.cmp-title--gradient-green .cmp-title__text,.cmp-multi-line-title--gradient-green .cmp-title__text,.cmp-title--gradient-green .cmp-text,.cmp-multi-line-title--gradient-green .cmp-text,.cmp-title--gradient-green h1,.cmp-multi-line-title--gradient-green h1 {
    background: #268914!important;
    background: linear-gradient(to bottom,#268914 0%,#13450A 100%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important
}

.cmp-multi-line-title span {
    display: block;
    line-height: 1.1em;
    float: left;
    clear: left;
    font-size: 44px
}

.display-inline .cmp-title,.display-inline .cmp-multi-line-title {
    display: inline
}

.display-inline .cmp-multi-line-title span {
    padding: 4px 8px
}

.display-inline .cmp-title h1 span,.display-inline .cmp-title h2 span,.display-inline .cmp-title h3 span,.display-inline .cmp-title h4 span,.display-inline .cmp-title h5 span,.display-inline .cmp-title h6 span {
    display: inline;
    padding: 4px 12px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 1.6em
}

.display-inline.dcom-theme1-1 .cmp-title,.display-inline.dcom-theme1-2 .cmp-title,.display-inline.dcom-theme1-3 .cmp-title,.display-inline.dcom-theme1-1 .cmp-multi-line-title,.display-inline.dcom-theme1-2 .cmp-multi-line-title,.display-inline.dcom-theme1-3 .cmp-multi-line-title {
    background: #fff
}

.display-inline.dcom-theme2-1 .cmp-title,.display-inline.dcom-theme2-3 .cmp-title,.display-inline.dcom-theme2-1 .cmp-multi-line-title,.display-inline.dcom-theme2-3 .cmp-multi-line-title,.display-inline.dcom-theme2-2 .cmp-title,.display-inline.dcom-theme2-2 .cmp-multi-line-title {
    background: #000
}

.display-inline.dcom-theme2-7 .cmp-title,.display-inline.dcom-theme2-7 .cmp-multi-line-title {
    background: #d0d0ce
}

.display-inline.dcom-theme3 .cmp-title,.display-inline.dcom-theme3 .cmp-multi-line-title {
    background: #0d8390
}

.display-inline.dcom-theme3-1 .cmp-title,.display-inline.dcom-theme3-1 .cmp-multi-line-title {
    background: #6fc2b4
}

.display-inline.dcom-theme3-2 .cmp-title,.display-inline.dcom-theme3-2 .cmp-multi-line-title {
    background: #0097a9
}

.display-inline.dcom-theme3-3 .cmp-title,.display-inline.dcom-theme3-3 .cmp-multi-line-title {
    background: #0d8390
}

.display-inline.dcom-theme3-4 .cmp-title,.display-inline.dcom-theme3-4 .cmp-multi-line-title {
    background: #00abab
}

.display-inline.dcom-theme4 .cmp-title,.display-inline.dcom-theme4 .cmp-multi-line-title {
    background: #007cb0
}

.display-inline.dcom-theme4-1 .cmp-title,.display-inline.dcom-theme4-1 .cmp-multi-line-title {
    background: #a0dcff
}

.display-inline.dcom-theme4-2 .cmp-title,.display-inline.dcom-theme4-2 .cmp-multi-line-title {
    background: #000
}

.display-inline.dcom-theme4-3 .cmp-title,.display-inline.dcom-theme4-3 .cmp-multi-line-title {
    background: #00a3e0
}

.display-inline.dcom-theme5-1 .cmp-title,.display-inline.dcom-theme5-2 .cmp-title,.display-inline.dcom-theme5-1 .cmp-multi-line-title,.display-inline.dcom-theme5-2 .cmp-multi-line-title {
    background: #86bc25
}

.display-inline.dcom-theme5-3 .cmp-title,.display-inline.dcom-theme5-3 .cmp-multi-line-title {
    background: #26890d
}

.display-inline.dcom-theme5-4 .cmp-title,.display-inline.dcom-theme5-4 .cmp-multi-line-title {
    background: #c4d600
}

.display-inline.dcom-theme5-5 .cmp-title,.display-inline.dcom-theme5-5 .cmp-multi-line-title {
    background: #43b02a
}

.display-inline.dcom-theme5-6 .cmp-title,.display-inline.dcom-theme5-6 .cmp-multi-line-title {
    background: #009a44
}

html[dir=rtl] .cmp-title__text,html[dir=rtl] .cmp-subtitle__text,html[dir=rtl] .cmp-multi-line-title__h1 {
    text-align: right
}

html[dir=rtl] .align__center .cmp-title .cmp-title__text,html[dir=rtl] .align__center .cmp-subtitle .cmp-subtitle__text {
    text-align: center
}

.cmp-share-bar__download-popup {
    display: none;
    position: fixed;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 16px #00000029;
    border-radius: 8px;
    min-height: 50px;
    width: 300px;
    padding: 24px;
    top: 58px;
    left: -1000px;
    box-sizing: border-box;
    transform: translate(-50%);
    z-index: 2000
}

.cmp-share-bar__download-popup-item {
    display: flex;
    gap: 12px
}

.cmp-share-bar__download-popup-item:last-child {
    margin-bottom: 0
}

.cmp-share-bar__download-popup-item-icon {
    color: #127cb0
}

.cmp-share-bar__download-popup-item-link {
    font-size: 1em;
    line-height: 1.1875em;
    letter-spacing: 0px;
    color: #127cb0;
    font-weight: var(--font-weight-bold)
}

.cmp-share-bar__download-popup-item-link:hover {
    text-decoration: underline
}

.cmp-share-bar__download-popup-item-link-size {
    font-size: .875em;
    color: #000;
    display: inline-block;
    font-weight: 400
}

.cmp-share-bar__download-popup-item-link-size:hover {
    text-decoration: none
}

.cmp-share-bar__download-popup .button.cmp-btn {
    margin-top: 32px
}

.cmp-share-bar__download-popup .button.cmp-btn .button-container {
    flex-grow: 1
}

.cmp-share-bar__download-popup .button.cmp-btn .button-container a {
    padding: 8px 52px
}

.cmp-small-title {
    margin: 0;
    display: flex;
    gap: 4px;
    flex: 1
}

.cmp-small-title__type {
    display: flex;
    color: #000;
    font-size: 1em;
    white-space: nowrap
}

@media screen and (max-width: 767px) {
    .cmp-small-title__type {
        display:none
    }
}

.cmp-small-title__text {
    color: #000;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 100%;
    display: inline-block
}
