.boldHoverNoWidthChange {
    font-weight: 400!important;
    -webkit-text-stroke-width: .55px;
    -webkit-text-stroke-color: currentColor
}

.cmp-title h1,.cmp-multi-line-title h1,.cmp-title h2,.cmp-multi-line-title h2,.cmp-title h3,.cmp-multi-line-title h3,.cmp-title h4,.cmp-multi-line-title h4,.cmp-title h5,.cmp-multi-line-title h5,.cmp-title h6,.cmp-multi-line-title h6 {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    background: inherit;
    display: inherit
}

.cmp-title--with-dot>*:after,.cmp-multi-line-title--with-dot>*:after {
    content: ".";
    color: #86bc25
}

.cmp-title--gradient-green .cmp-title__text,.cmp-multi-line-title--gradient-green .cmp-title__text,.cmp-title--gradient-green .cmp-text,.cmp-multi-line-title--gradient-green .cmp-text,.cmp-title--gradient-green h1,.cmp-multi-line-title--gradient-green h1 {
    background: #268914!important;
    background: linear-gradient(to bottom,#268914 0%,#13450A 100%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important
}

.cmp-multi-line-title span {
    display: block;
    line-height: 1.1em;
    float: left;
    clear: left;
    font-size: 44px
}

.display-inline .cmp-title,.display-inline .cmp-multi-line-title {
    display: inline
}

.display-inline .cmp-multi-line-title span {
    padding: 4px 8px
}

.display-inline .cmp-title h1 span,.display-inline .cmp-title h2 span,.display-inline .cmp-title h3 span,.display-inline .cmp-title h4 span,.display-inline .cmp-title h5 span,.display-inline .cmp-title h6 span {
    display: inline;
    padding: 4px 12px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 1.6em
}

.display-inline.dcom-theme1-1 .cmp-title,.display-inline.dcom-theme1-2 .cmp-title,.display-inline.dcom-theme1-3 .cmp-title,.display-inline.dcom-theme1-1 .cmp-multi-line-title,.display-inline.dcom-theme1-2 .cmp-multi-line-title,.display-inline.dcom-theme1-3 .cmp-multi-line-title {
    background: #fff
}

.display-inline.dcom-theme2-1 .cmp-title,.display-inline.dcom-theme2-3 .cmp-title,.display-inline.dcom-theme2-1 .cmp-multi-line-title,.display-inline.dcom-theme2-3 .cmp-multi-line-title,.display-inline.dcom-theme2-2 .cmp-title,.display-inline.dcom-theme2-2 .cmp-multi-line-title {
    background: #000
}

.display-inline.dcom-theme2-7 .cmp-title,.display-inline.dcom-theme2-7 .cmp-multi-line-title {
    background: #d0d0ce
}

.display-inline.dcom-theme3 .cmp-title,.display-inline.dcom-theme3 .cmp-multi-line-title {
    background: #0d8390
}

.display-inline.dcom-theme3-1 .cmp-title,.display-inline.dcom-theme3-1 .cmp-multi-line-title {
    background: #6fc2b4
}

.display-inline.dcom-theme3-2 .cmp-title,.display-inline.dcom-theme3-2 .cmp-multi-line-title {
    background: #0097a9
}

.display-inline.dcom-theme3-3 .cmp-title,.display-inline.dcom-theme3-3 .cmp-multi-line-title {
    background: #0d8390
}

.display-inline.dcom-theme3-4 .cmp-title,.display-inline.dcom-theme3-4 .cmp-multi-line-title {
    background: #00abab
}

.display-inline.dcom-theme4 .cmp-title,.display-inline.dcom-theme4 .cmp-multi-line-title {
    background: #007cb0
}

.display-inline.dcom-theme4-1 .cmp-title,.display-inline.dcom-theme4-1 .cmp-multi-line-title {
    background: #a0dcff
}

.display-inline.dcom-theme4-2 .cmp-title,.display-inline.dcom-theme4-2 .cmp-multi-line-title {
    background: #000
}

.display-inline.dcom-theme4-3 .cmp-title,.display-inline.dcom-theme4-3 .cmp-multi-line-title {
    background: #00a3e0
}

.display-inline.dcom-theme5-1 .cmp-title,.display-inline.dcom-theme5-2 .cmp-title,.display-inline.dcom-theme5-1 .cmp-multi-line-title,.display-inline.dcom-theme5-2 .cmp-multi-line-title {
    background: #86bc25
}

.display-inline.dcom-theme5-3 .cmp-title,.display-inline.dcom-theme5-3 .cmp-multi-line-title {
    background: #26890d
}

.display-inline.dcom-theme5-4 .cmp-title,.display-inline.dcom-theme5-4 .cmp-multi-line-title {
    background: #c4d600
}

.display-inline.dcom-theme5-5 .cmp-title,.display-inline.dcom-theme5-5 .cmp-multi-line-title {
    background: #43b02a
}

.display-inline.dcom-theme5-6 .cmp-title,.display-inline.dcom-theme5-6 .cmp-multi-line-title {
    background: #009a44
}
